[2021-10-25 18:09] lenorx opened #101 "Instagram User"

[2021-10-26 06:11] #101 closed, assigned to nobody

[2021-11-08 04:07] kk-hainq opened #108 "How can Hydra scale dApps?"
Isomorphic state channels are fantastic. We believe they would not just scale dApps, but to obsolete the account-based state-driven DeFi as we know it today, to build new multi-layer highly-parallel decentralized economies cross-chains. That said, we fear the current direction of Hydra would not scale dApp, or even progress with real-life rational parties. The original paper requires all parties t

[2021-11-08 06:30] abailly commented on #108
The paper is about _Hydra Head_ protocol which indeed, has some limitations: It guarantees safety but not liveness, and requires all parties to be online to provide those guarantees. We are well aware of those limitations but strongly believe the current _Hydra Head Node_ is a necessary stepping stone that will still provide value while enabling more sophisticated and scalable constructions.
Will

[2021-11-08 07:27] kk-hainq commented on #108
Yes, I have skimmed through the Interhead one, would love to post more questions on that this or next week as well. All these research efforts are very inspiring, and I totally agree that we have to make incremental steps.

The thing that excites me the most is the insane level of parallelism here. When n is 1, I should be able to commit my assets away to my layer two storage to mend, decorate, se

[2021-11-10 08:47] chirkunov commented on #108
I was also thinking about how someone on a mobile wallet can have their transaction confirmed on their behalf while they are offline, as well as how you can prevent someone from blocking transactions. I thought of an easy solution, but I might be missing something. Let's say we have a head with 4 parties. A, B, C and D. If I understand correctly, A has to sign the transaction when I send funds fro

[2021-11-10 10:15] kk-hainq commented on #108
@chirkunov Head parties have to sign transactions with their registered keys, a party cannot delegate assets or signing privilege to another verification key, like an SPO, for example. In your proposed scenario, A could only send to B what he has locked on layer one to Hydra. That is the case for everyone, B, C, D, included. C and D's stake pools could only sign for them, had they sent locked asse

[2021-11-10 14:53] KtorZ commented on #108
Hi @kk-hainq, thanks for reaching out and taking the time to go through all this. I'll try to address most of your points, but before anything, keep in mind that "Hydra" is a long-term vision that includes a variety of protocols and solutions.

Our current focus with the Hydra team at the moment is to build a strong foundation to enable the creation of solutions on top of that primary building blo

[2021-11-10 21:24] kk-hainq commented on #108
@KtorZ Thank you very much for the detailed answers!

I believe "never" is a strong word in this context. When I said Hydra's security is "absolute" it was mainly to support the false sense of security against time-based risks statement afterwards. Head parties can exploit time-based validation rules or values of others' locked assets over time like in the collateral liquidation scenario. Another

[2021-11-10 21:36] ghost commented on #108
@kk-hainq Is your code visible somewhere?

[2021-11-10 21:42] kk-hainq commented on #108
@abailly-iohk No, we have only been working on a paper draft. It is non-trivial to develop a node, off-chain communication channels, mainchain scripts, and all. That is why I hoped we could build the foundation together. If not we'll still fork this repository as a starting point when we start implementing our proof-of-concept.

[2021-11-10 21:53] ghost commented on #108
I definitely agree all this stuff is non-trivial :) The great thing with open-source is that, well, it's open for everyone to see and contribute so we'll certainly not stop you from contributing.
But I think, and I believe this is shared by my teammates, that right now we want to finish what we started together namely to have a production-ready Hydra Head node. This is not a huge footprint codebas

[2021-11-11 07:00] kk-hainq commented on #108
@abailly-iohk That sounds great, thanks! I firmly believe many from the ecosystem, ourselves included, would join the conversations and submit pull requests if the team posted more open issues here. As long as we don't spam or distract you too much, I think we'd be able to contribute non-trivially.

From both standpoints. The context is that we needed to design our own Hydra variant to scale our d

[2021-11-11 07:38] ghost commented on #108
🤣

[2021-11-16 13:38] #108 closed, assigned to nobody

[2021-12-05 23:08] lenorx opened #126 "INSTAGRAM; santa_diabla_666"
nstagram @santa_diabla_666

Cobertura ejecutar -p --source = {envsitepackagesdir} / lbry -m unittest discover -vv integration.claims {posargs}
[testenv: takeovers_legacy_search]
setenv =
  ENABLE_LEGACY_SEARCH = 1
comandos =
  ejecución de cobertura -p --source = {envsitepackagesdir} / lbry -m unittest discover -vv integration.takeovers {posargs}

  tox.ini

  - red de datos
          - cadena de

[2021-12-06 18:47] #126 closed, assigned to nobody

[2021-12-21 07:13] ch1bo opened #145 "Naiive on-chain-verification (Plutus scripts)"
## What & Why
So far, we have implemented the whole Hydra Head life-cycle via proper Cardano transactions. However, only mocked validators had been used and thus the Hydra Head is not *secure*. For example, any attacker could submit a transaction to close the Head. To make the Head secure, we need to add script validators to the Head's UTXO.

This feature is called "naiive" on-chain-verification (

[2021-12-21 07:50] ghost commented on #145
Is it implicit in this description that we use real (e.g not `MockDSIGN`) signatures in the Head?

[2021-12-21 08:11] ch1bo commented on #145
Yes, we should aim for using real (non-musig2) signatures. Good point. I'll make it explicit.

[2021-12-22 08:25] kk-hainq commented on #145
Will you guys accept an external PR for this task? We can do it in baby steps or in full during the New Year holiday as our Lunar New Year is in February. We do have more time to contribute upstream while the Western half of the team goes on holiday :).

[2021-12-22 08:36] ch1bo commented on #145
Thanks for the offer @kk-hainq. I wrote this down to have a a first high-level feature on this platform to gauge how detailed we want/need this to be, before I write them all up to have a transparent, public roadmap. It was not intended for seeking assistance as it's lacking some details, but I can definitely see that for one of the next features or subtasks of it. Plus, we are currently in the mi

[2022-01-08 09:29] ghost opened #158 "Fail to run `cabal test all` on Mac OS"
All the tests that rely on spinning up a cardano-node fail with the following error:

[code]

As the message says, this is because the path to the Unix socket is too long, in my case: `/private/var/folders/pw/tq6jnm0d2hl_czb8vgjqm4jr0000gn/T/hydra-local-cluster-9673926c71281ae3/node-1/node.socket`. The limit seems to be 104 characters as noted in this issue https://github.com/input-output-hk/ourob

[2022-01-11 06:45] kk-hainq commented on #158
We have faced the exact same problem in our ADAmatic bridge tests!

A quick fix is to change `withTempDir` to `withTempDirectory "/tmp"`, or to set `TMPDIR` to `/tmp` or something. A further improvement is to make a wrapper type for the socket path with a smart constructor that checks the length at path construction.

Can submit a PR if accepted 👍.

[2022-01-11 06:51] ghost commented on #158
Sure, go ahead!

[2022-01-11 13:50] ch1bo opened #161 "Spike: Evaluate cost of MPT verification in plutus"
## What & Why

We want to know as early as possible whether we would be running into execution budget limits for using Merkle (Patricia) Tree in our validators. More specifically, the (asymptotic) complexity of memory and cpu utilization of checking whether a UTXO is part of a tree given it's proof using the Plutus implementation and cost models is to be estimated.

[2022-01-11 13:59] ch1bo commented on #145
Scope change: As this is only covering the "complete" fanout transaction, it suffices to check whether *all* fanned out outputs are present in a closed state. Thus we do hash the list of outputs and compare with the stored hash of the closed UTXO state (instead of en-/decoding the full UTXO type as plutus datum).

[2022-01-11 14:01] ch1bo commented on #145
Complexity of hashing is covered in PR #155.

[2022-01-11 14:05] ch1bo commented on #161
We implemented a `plutus-merkle-tree` package and measured execution costs of membership checks and construction in Plutus:

https://github.com/input-output-hk/hydra-poc/wiki/Logbook#2021-01-11

[2022-01-11 14:08] ch1bo commented on #161
Copying the results here. Reproducible on 73c209048479190f86e64857f101ec086365dbe4 with `cabal run contract-cost`.

Percent of full budget (current parameters) for both membership and MT building:

| # UTXO | Mem (member) | CPU (member) | Mem (build) | CPU (build) |
| --     | --           | --           | --          | --          |
| 1      | 3.79926      | 1.66382747   | 3.92862     | 1.6995323

[2022-01-12 06:15] #158 closed, assigned to nobody

[2022-01-12 06:16] ch1bo commented on #158
Can you try again? CI reported no problems for Linux, but we have no Mac test coverage

[2022-01-12 07:16] ghost commented on #158
Check it on my machine and it works fine! Thanks @kk-hainq and @ch1bo

[2022-01-12 07:25] kk-hainq commented on #158
The tests passed for me on Mac too.

@abailly-iohk I'm just curious but are you running a `nix-shell` on Mac? It is quite flaky on my end and I would love to fix it! I don't use Mac for development but know many who do.

[2022-01-12 07:30] ghost commented on #158
No, I don't use the nix shell, just plain ol' cabal ;)

[2022-01-12 07:41] kk-hainq commented on #158
Yeah, it is very encouraging to see plain cabal commands work fine outside of a `nix-shell`, not all people can afford the resources and patience for Nix. Still, would you consider a PR for `nix-shell` support on Mac? It is still very useful for people who Nix.

[2022-01-12 07:43] ghost commented on #158
Sure, we use nix-shell on a daily basis on Linux so no problem with enlarging the scope

[2022-01-13 11:42] kk-hainq opened #164 "nix-shell support on macOS"
## Why & What
- There are developers who Nix on macOS.
- The current `nix-shell` doesn't work out-of-the-box on macOS.

Making `nix-shell` work there would improve that developer group's experience experimenting with and contributing to Hydra.

## Requirements (optional)
Make the current `nix-shell` setup work out-of-the-box on macOS.

This is not of high priority, but a reasonable continuation of

[2022-01-14 10:41] ch1bo commented on #161
Graphs of our above measurements in checking Merkle-Tree membership:

![mt-cost](https://user-images.githubusercontent.com/2621189/149502609-0b8f4cda-125d-45a3-9537-65df04386ee9.png)

And building a Merkle-Tree:

![mt-build-cost](https://user-images.githubusercontent.com/2621189/149502308-76aadbc8-14a9-4ddd-8c1e-ebc3aea7b6cd.png)

[2022-01-14 10:46] ch1bo commented on #161
In addition to Merkle-Tree construction and membership checks, we also measured performance of
* hashing bytes using builtin Plutus hash functions -> O(n) see PR #155
* encoding a `TxOut` into bytes using a simple CBOR encoder -> O(n) see PR #154 and these graphs:

List of ada-only TxOut:
![image](https://user-images.githubusercontent.com/2621189/149502985-096697f6-8114-4ff6-b6ca-15212f454f7a.png)

[2022-01-14 10:46] #161 closed, assigned to nobody

[2022-01-27 06:20] kk-hainq commented on #164
Done in #168.

[2022-01-27 06:20] #164 closed, assigned to nobody

[2022-01-30 17:21] ch1bo opened #180 "Support multiple Hydra Heads on-chain"
## What & Why
Current `hydra-node` implementation doesn't distinguish between on-chain Hydra Head protocol transactions belonging to multiple open Hydra Heads in the network at the same time. As a consequence, only a single Hydra Head is supported at any time.

This is only acceptable in a private devnet environments, and needs to be implemented to run `hydra-node` in a Cardano public testnet envi

[2022-01-30 17:21] ch1bo opened #181 "Contract continuity & authentication with ST & PTs"
## What & Why

Previous work on the Plutus scripts ensured the Hydra Head is opened & closed on-chain honoring the off-chain agreed UTXO state. However, this was not covering two cases and goal of this feature is to
* ensure that the Hydra protocol transactions are submitted in order, and
* ensure that all participants had a chance to commit UTXOs to a Head

For that matter we will need to mint &

[2022-01-30 17:22] ch1bo opened #182 "Reject unsupported transactions"
## What & Why
Although the ledger implementation used in the `hydra-node` is the same as in `cardano-node`, not all ledger rules make sense in a Hydra Head. For example, stake pool registrations and submitting delegation certificates have no meaning on Layer 2.

Furthermore, there are still some temporary gaps (#196) which need to be closed and corner-cases of PlutusV1 shortcomings (byron addresse

[2022-01-30 17:22] ch1bo opened #183 "Collect & report metrics"
## What & Why
To measure success (or failure) of the Hydra Head project and improve continuously, we need to know how many Hydra Heads are opened, how long they are used, how many UTXOs are moved into / out of a Head etc. Most of this information is publicly available and can be derived by observing the main-chain. The remainder (e.g. transactions sizes & number of UTXOs in a Head), will be collec

[2022-01-30 17:22] ch1bo opened #184 "Handle rollbacks I"
## What & Why

Currently, rollbacks are not handled by `hydra-node`. If a rollback occurs in Layer 1 and there are open Hydra Heads after the rolled-back fork point, `hydra-node` will crash. A basic ("[dirt-road](https://www.qwan.eu/2020/09/02/dimensional-planning.html)") solution ensuring that `hydra-node` remains operational in such a scenario is needed in order to run `hydra-node` on a public t

[2022-01-30 17:23] ch1bo opened #185 "Handle rollbacks II"
## What & Why

The `hydra-node` is directly connected to the Cardano network via the `cardano-node`. As we submit & observe blocks containing Hydra protocol transactions, these blocks can also be rolled back as Cardano is based on the Ouroboros consensus.

Within this feature we want to make the `hydra-node` robust against rollbacks having it re-establish the last-known Hydra Head state by re-subm

[2022-01-30 17:24] ch1bo opened #186 "Benchmark performance of a Hydra Head"
## Why

Users want to know what is capable with Hydra in certain use cases.

## What

For that, we want to extend our [current benchmark](https://github.com/input-output-hk/hydra-poc/tree/73c209048479190f86e64857f101ec086365dbe4/hydra-cluster/bench) suite with a concrete scenario to measure latency & throughput of actual Hydra Head configuration and transaction structure. The results shall be coll

[2022-01-30 17:25] ch1bo opened #187 "Backup & restore the state of a Hydra Head"
## What & Why
Currently, there is no mechanism to recover the current state of a Hydra Head when restarting the `hydra-node` (e.g. following a crash). As a consequence, the Hydra Head can't continue processing transactions and, even worse, **trust** is required between the participants to close the Head in a non-adversarial manner.

Persisting the state of the Hydra Head on disk and restoring it o

[2022-01-30 17:25] ch1bo opened #188 "Network resilience to disconnects"
## Why

The Hydra Head becomes stuck very easily which is bad for user experience. The state machine in the `HeadLogic` does not make progress as it is waiting from some "signal" from peers, or from the chain. This can happen from a wide variety of reasons: When the connection between two `hydra-node`s breaks down, or when one node crashes and restarts.
When the Head stalls because of missing resp

[2022-01-30 17:25] ch1bo opened #189 "Hosted Hydra Head running hydraw demo environment"
## Why

* Feel the pain
* Identifying and closing gaps of hosting hydra-nodes

## What

* Host 5 instances of hydra-node (each team member one)
* Connect them and start a hydra head running the hydraw demo inside it
* Provide a public user interface
* (optional) Artificially create some traffic (e.g. have some pixels fade over time or so) or post it on twitter.
* We will be using the `preview` tes

[2022-01-30 17:25] ch1bo opened #190 "Support larger # of UTXO via split-fanout"
## What & Why

The first naiive, but correct implementation (see [#145](https://github.com/input-output-hk/hydra-poc/issues/145)) of the Hydra Head plutus script validators is limiting to the number of UTXOs supported in a Hydra Head.

This is because we need to make sure all the UTXOs can be distributed back in the single, complete fanout transaction and we are bound by Plutus script execution bu

[2022-01-30 17:27] ch1bo opened #191 "Hydra node software,scripts & protocol updates"
## What & Why

How we deal with changes and upgrades to various parts of the Hydra system. This is only about changes we issue, for Cardano network changes, see: https://github.com/input-output-hk/hydra-poc/issues/195

We should distinguish breaking and non-breaking changes. Definition of breaking change could be: An already existing Hydra Head becomes unavailable after an update.

Given this defi

[2022-01-30 17:27] ch1bo opened #192 "Contest logic & OCV"
## What & Why

Our current implementation of the Hydra Head protocol is missing a crucial feature: Contesting when a counter-party closed the Head with a multi-signed, but old Head state.

For example: Two hydra nodes form a Hydra Head. The head is open and the participants perform a one transaction, getting confirmed in a snapshot with signatures by both nodes. Node 1 closes the Head with the ini

[2022-01-30 17:32] ch1bo opened #193 "Aggregated multi-signatures (using musig2)"
## What & Why
In our first implementation of the on-chain verification (https://github.com/input-output-hk/hydra-poc/issues/145), we did use non-aggregated signatures. That is, a list of signatures of each Head participant is used to certify correctness of the Head state. This is more verbose than necessary and scales bad with a growing number of participants, so closing and finalizing a Head is m

[2022-01-30 17:33] ch1bo opened #194 "Validate coordinated head protocol against formal model"
## Why

Although the Hydra Head protocol has been peer-reviewed as a [research paper](https://eprint.iacr.org/2020/299.pdf) and the security it provides proven, this does not guarantee our implementation indeed provides the same level of security. This is all the more true given we have been simplifying the "Simplified Head protocol" of the paper even further in collaboration with the original pro

[2022-01-30 17:33] ch1bo opened #195 "React to protocol parameter changes"
## Why

On cardano parameters can change any epoch. That is, the underlying costs for executing plutus scripts could change. As user of Hydra heads we want to be able to close/finalize heads (or other features) to not be impacted by these changes unnoticed.

## What

- The `hydra-node` does detect protocol update proposals on the layer 1 and informs users about them.
  + This is of warning severit

[2022-01-30 17:34] ch1bo opened #196 "Support timed transactions"
## Why

We want to have support for transactions with validity ranges (Figure 3, page 10 in [Alonzo spec](https://hydra.iohk.io/job/Cardano/cardano-ledger-specs/specs.alonzo-ledger/latest/download-by-type/doc-pdf/alonzo-changes)). This is the only piece of the Alonzo specification which is currently unsupported.

## What

The hydra-node should not reject transactions with a lower or upper validity

[2022-01-30 17:36] ch1bo opened #197 "Verify implementation against security proofs"
## What & Why

As a first step on formally verifying the correctness of our Hydra Head implementation, we want to create property tests corresponding to the security proof in the [paper](https://eprint.iacr.org/2020/299) to test various parts of the implemented protocol using the same rationale.

## TBD
* At what level in our testing strategy?
* Which proofs exactly / scope?

[2022-01-30 17:37] ch1bo opened #198 "Optimistic head closure"
## What & Why

Implement the protocol extension for more efficient Head closure as described in the Hydra Head [paper](https://eprint.iacr.org/2020/299).

This will make it faster & cheaper to close and finalize a Head as there is no need for a contestation phase.

## What

* Close & finalize without contestation phase when every operator agrees (as also outlined in the original paper)

[2022-01-30 17:39] ch1bo opened #199 "Incremental commit"
## Why

Hydra Heads should not need to be closed and re-opened just to add more funds. This will make Hydra Heads more flexible in enables use cases where long-living Heads are beneficial.

Furthermore, it could pave the way for getting rid of the initialization phase altogether, which would result in a much simpler protocol.

## What

Implement the protocol extension for more committing additiona

[2022-01-30 17:40] ch1bo opened #200 "Static Linux binaries"
## What & Why
We currently build dynamically linked 64bit Linux binaries for the `x86_64` architecture. As with any dynamically linked binaries, not only the architecture needs to match, but also the right libraries need to be available to be loaded during runtime. Right now, having the right libraries available can be achieved using `nix` oder `docker` container images.

Within this feature we wa

[2022-02-01 09:02] ch1bo commented on #145
Last PR with relevant validators was merged #201 , so closing this in prep for 0.3.0

[2022-02-01 09:02] #145 closed, assigned to nobody

[2022-02-01 09:18] ch1bo opened #203 "Improve network to connect up to 50 nodes"
## What & Why
Currently our network layer fails in connecting a large (> 10) number of nodes, at least in our local load tests. Within this feature we want to improve the hydra networking layer to be able to connect at least 50 nodes into a (still fully-connected) network to broadcast Hydra off-chain messages.

## Requirements
* The local `hydra-cluster` can spin up and connect 50 `hydra-node`s.
*

[2022-02-08 16:38] ch1bo commented on #145
Status quo implementation also documented in #204

[2022-02-10 16:37] ch1bo opened #214 "PAB as client"
## What & Why

Several DApp projects on Cardano use the Plutus Application Backend (PAB) for constructing & submitting transactions including Plutus scripts, as well as observing the chain and execute off-chain code.

Currently the PAB only supports connecting to the `cardano-node` and balance/sign transactions via the wallet backend (TBD: what's the actual status here?)

Within this feature we wa

[2022-02-10 20:20] pradeepp88 commented on #214
At [Charli3 ](https://charli3.io/) oracles, we have designed our oracle scripts to aggregate node values from multiple node UTXOs produced by node operators in a decentralized way. The aggregation is coded using the Plutus OffChain code, which is run by the `PAB` integrated with the `wallet-backend` for balancing/signing the transactions and the `plutus-chain-Index` for reading the data related to

[2022-02-11 09:56] ch1bo opened #215 "Commit from external wallet"
## Why

As a user if I want to commit inside a Head, I would need to send whatever I want to commit first to the internal wallet of my hydra node. This is non-ideal as the funds need to be sent there first and would potentially at a higher risk (of losing the internal signing key) in the transit.

## What

This feature should allow users to use an any external wallet to commit funds to a Hydra Hea

[2022-02-20 17:17] ghost commented on #203
A few issues currently prevent us from scaling the `hydra-cluster` benchmark to that number of Hydra nodes:
* Infrastructure: Running 50-100 nodes on a single machine does not really make sense and is not realistic. We need to be able to configure smaller VMs, each running a single Hydra node and associated Cardano node in BFT mode, and configure both networks. This should be done in an automated

[2022-02-20 23:15] fajard01 opened #223 "Error when running cabal build all of the master branch"
I've cloned the repository, setup my IOHK caches, then ran nix-shell after which I do a cabal update which all goes fine. However when I run cabal build all, I get this error:

[code]
Is there any fix? Everything in my system is up to date as well.

[2022-02-21 09:20] ghost commented on #223
I have not been able to reproduce the issue even using a fresh new VM using https://github.com/abailly-iohk/nix-haskell-dev-vm

[2022-02-21 09:21] ghost commented on #223
The nix caches setup is a bit different from the default as we are using a private cachix cache. I will try rebuilding everything without this custom cache.

[2022-02-21 09:24] Eggham opened #224 "Mismatch between value actually sent and intended to be sent when utxo does not have sufficient fund"
The setting is that a Hydra head has been set up between Bob and Carol. Suppose Bob wants to send Carol 123456 Lovelace but the UTxO that Bob chooses to spend has only 123455 Lovelace (1 Lovelace less). In this setting, the transaction still succeeds despite insufficient fund in the chosen UTxO. But the actual amount Carol receives and Bob sends becomes 12345 Lovelace, instead of the intended 1234

[2022-02-21 09:50] ch1bo commented on #224
Thanks for raising this, I assumed this is using the `hydra-tui` client and could reproduce the behavior there ... looking into this now.

[2022-02-21 10:05] ch1bo commented on #224
It seems like the TUI is parsing the entered text wrong, e.g. when presented with `450000000` lovelace, the user changes the last digit to 1 -> `450000001`, the `hydra-tui` at version `0.3.0` parses a `45000000`!

Note that the `hydra-tui` is a demonstrative client and is not as well-tested as the `hydra-node` itself.

[2022-02-21 10:18] ghost commented on #223
Even letting aside the `hydra-node` specific cache, I was not able to reproduce the issue starting from a pristine VM and master clone:
[code]

[2022-02-21 10:20] ghost commented on #223
@fajard01 I suspect something else in your system is messing up with the dependencies. Have you separately built the plutus or plutus-apps repo, for example? My understanding is that although nix works hard towards making build isolated and reproducible, it's not 100% possible with cabal because the latter seems to insist on using per user dependencies cache in the `~/.cabal` directory.

[2022-02-21 13:49] ghost commented on #203
Also, I think that solving point 1 from the previous comment will be useful for deploying demo/test Hydra networks.

[2022-02-21 14:21] fajard01 commented on #223
I have built the plutus-apps repo without any issue and I haven't had a problem with the plutus-pioneer lectures whatsoever. Could it be that my plutus-apps branch interferes with the hydra branch? I shall play around with the cache and see if I can find a solution. I'm not on a VM but on a standalone Archlinux installation but i wouldn't think that matters.

[2022-02-21 14:23] ghost commented on #223
@fajard01 You are not doing anything wrong, it seems that our dependency management was inconsistent. Could you try building branch from PR #226?

[2022-02-21 14:34] #224 closed, assigned to nobody

[2022-02-21 19:49] fajard01 commented on #223
Yes all working! Thanks for the crisp reply.
Marked as solved.

[2022-02-21 19:49] #223 closed, assigned to nobody

[2022-02-22 09:10] ghost commented on #203
We are mostly concerned _right now_ with assessing the performance of the layer 2, so we might as well resurrect our `MockChain` component to handle the on-chain part. This would simplify deployment as we would only need a single instance of the mockchain component running, without impacting the validity of our observations about the performance of the layer 2.

[2022-02-25 11:49] ghost commented on #183
With a stateless "chain observer" available, we could host a simple "Hydra Head Explorer" service online that would show and track the state of heads running on some chain?

[2022-02-25 12:17] KtorZ commented on #184
The solution we discussed for handling rollbacks is a 3-step approach, for which the first step was completed as part of #228 and #221

## Step 1

As a first step, we want to untangle the low-level construction and observation of on-chain transactions. We've been carrying around an `OnChainHeadState` with internals details needed to construct and observe those transactions. However it'd be prefera

[2022-03-02 08:13] #180 closed, assigned to nobody

[2022-03-02 08:16] ch1bo commented on #203
So we solved the issue with ourobouros-network and we can run 50 nodes benchmarks by increasing the execution budgets and slot lenghts to accomodate the actual validation (of `collectCom`). We could also use the `mock-chain`, which we ended up not merging now though.

[2022-03-02 08:16] #203 closed, assigned to nobody

[2022-03-08 09:11] ch1bo opened #240 "Configurable peers"
## What & Why

Right now, the `hydra-node` is configured on startup to which other nodes it is connecting to using command line arguments like `--peer`. This is very inflexible, as it means the hostnames/IP addresses need to be known up-front and this becomes quickly unmanagable, especially in bigger, coordinated setups like benchmarks from [#203](https://github.com/input-output-hk/hydra-poc/issue

[2022-03-08 10:41] ghost opened #241 "Actually check the CollectCom transition consumes consistent PTs/STs"

[2022-03-08 10:41] ghost opened #242 "Drop Party from `ν_commit` datum"

[2022-03-08 10:41] ghost opened #243 "Pass list of PKH to on-chain state and verify PTs minting using that"

[2022-03-08 11:19] ch1bo opened #244 "Connect to the public Cardano testnet"

[2022-03-08 14:37] ch1bo opened #245 "Create a new user manual"

[2022-03-08 18:45] ch1bo opened #246 "Update tests/benchmarks to highlight current  limitations"
Goal is that our tests would include metrics on individual limitations which we currently face and the "code speaks for itself". Using this we can bump the requirements as we go along and also detect regressions. For example:

![image](https://user-images.githubusercontent.com/2621189/157305548-3bda04c8-cb18-48f1-ade4-070e0b61f648.png)

Would explain that, given a 32kB transaction size, we could f

[2022-03-09 07:28] ghost opened #247 "Revisit & list network requirements"

[2022-03-09 18:21] ch1bo opened #252 "Running the demo on MacOS with M1 silicon"
When trying to run the demo we encountered at least these pitfalls on a recent MacOS:

* `prepare-devnet.sh` uses `cp -T` which is not supported on mac as it seems
* The docker images include `linux/amd64` binaries and the Docker Desktop for Mac seems not to virtualize the platform and needs matching binaries

[2022-03-10 07:37] ghost opened #253 "Flesh-out Star-shaped network mechanics"
Following discussion on Discord about https://cardano.ideascale.com/c/idea/397681 project, it seems the Star-shaped network proposed by @mchakravarty could be a good fit. This PR tries to detail the mechanics to understand:

1. If and how it works,
2. If it's a good fit for the aforementioned use case.

[2022-03-10 10:10] KtorZ opened #254 "Reduce memory usage of CollectCom"
Collect-Com is currently one of our most expensive operation, especially because the execution budget is shared with other scripts (commits). So, in order to increase the number of participants, we want to optimize the collect-com mostly in terms of memory (CPU is fine so far).

[2022-03-10 10:13] KtorZ opened #255 "Make unit tests error on exceeding cumulative execution budget"
We noticed that `validateTxScriptsUnlimited` we use for unit testing validators perform validation of scripts *independently* also considering budgets independently. That means while each validator could pass independently, they may exceed the maximum execution budget allowed for a transaction when considered altogether.

So we want to perform a second check on top of this function to look at the

[2022-03-11 07:46] ch1bo opened #257 "Create an ADR to get rid of the TVar in the Direct module"
Our goal is to simplify the `Hydra.Chain.Direct` module such that it is not having state on it's own in a TVar, but we can integrate it's state into the general state of the `Hydra.Node` to simplify rollbacks & persistence later.

This ADR shall be the basis for next steps into this direction and ultimately to solve https://github.com/input-output-hk/hydra-poc/issues/184

## Discussion

Make obser

[2022-03-11 08:08] #241 closed, assigned to nobody

[2022-03-11 12:32] ch1bo commented on #242
To remove the `headValidatorHash` from the Datum, the `v_head` validator first needs to be unparameterized. That means, `checkCollectCom` and `checkAbort` need not use script addresses, but only the ST&PTs for finding initial & commit outputs.

[2022-03-11 12:48] #245 closed, assigned to KtorZ

[2022-03-11 13:23] ghost commented on #242
Can we split the task in two? Seems like we are "all green" (bar flakiness) for the first part anyway.
In general, having a _and_ in the title is a smell :)

[2022-03-11 13:29] ghost opened #259 "Make`headValidatorHash` a parameter to the `v_commit` validator"
This can only be done when `v_head` is not parameterized by the initial/commit `Address` anymore.

We would exchange finding inputs in collectCom/abort by address with finding them by looking at values (PTs).

It is not clear whether this will help us in any case, it appears to be "just cleaner", but that is a weak argument of doing this.

[2022-03-11 14:39] ch1bo commented on #246
First step on this is #260

[2022-03-14 14:52] #254 closed, assigned to KtorZ

[2022-03-15 05:55] ghost commented on #242
We finally decided this change was not worth the effort of tracking some apparently subtle bugs it might have introduced.

[2022-03-15 09:59] ghost opened #265 "Peer connection state reporting is unreliable"
When a peer connects/disconnects, a `PeerConnected` or `PeerDisconnected` message should be sent to any listening client.
When trying to open a 3 nodes head, we noticed that the peers reported on the different TUIs were not consistent: The first node to start has all peers, the second one as a single peer, the last one lists none.

[2022-03-15 14:20] ghost commented on #265
Fixed by #266

[2022-03-15 14:20] #265 closed, assigned to nobody

[2022-03-15 14:52] ch1bo commented on #244
Full Hydra Head lifecycle on the Cardano testnet: https://testnet.cardanoscan.io/address/addr_test1wzt6dvz6f4uqjqzv7cyw83rejczgg69rdtunr9qd0uregnqh6wsen

[2022-03-15 14:52] #244 closed, assigned to nobody

[2022-03-15 19:05] ch1bo commented on #242
So to close this, we should instead revise ["the diagram"](https://raw.githubusercontent.com/input-output-hk/hydra-poc/master/docs/adr/img/on-chain-full.jpg) to keep the `Party` in the `v_commit` datum and a note why so (to ease off-chain observing of commits).

[2022-03-16 16:01] #242 closed, assigned to nobody

[2022-03-18 10:15] ghost opened #268 "Document node configuration/operation used from workshop"
Document and provide config files for running a single node on GCP using terraform and docker as we've done during Lyon Workshop
One step towards #189

[2022-03-18 11:19] ghost opened #269 "Document Pixel painter"

[2022-03-18 12:54] #253 closed, assigned to nobody

[2022-03-18 13:01] KtorZ opened #271 "Remove now-redundant JSON-schema + feed test with AsyncAPIDoc instead"

[2022-03-22 06:57] #269 closed, assigned to nobody

[2022-03-22 08:32] KtorZ opened #274 "Ditch merkle-patricia-tree"

[2022-03-22 08:32] #274 closed, assigned to nobody

[2022-03-22 08:33] KtorZ opened #275 "Adjust API tests to use `docs/api/` schemas"
* Need also to move logs API to docs/ dir and take care of shared schemas

[2022-03-22 08:40] ch1bo opened #276 "Do release 0.4.0"
Update the Changelog with known issues and cut a release

[2022-03-22 08:45] ch1bo opened #277 "Flesh-out Quickstart section in docs explaining where to get parameters from"

[2022-03-22 08:45] ch1bo opened #278 "Provide documentation on basic topology"

[2022-03-22 09:35] ch1bo opened #279 "Each client `ShouldPostFanout` when observing the `OnCloseTx`"
We usually have Heads with very short contestation periods (10sec) and on testnet that is too quick after seeing the `Close` client input.

Instead all hydra nodes should try to fanout by scheduling a `ShouldPostFanout` when seeing the `OnChainTx` event.

[2022-03-22 14:26] #279 closed, assigned to nobody

[2022-03-22 16:22] ch1bo opened #280 "Spike: Switch to babbage and use serializeBuiltinData"
## What & Why

To help on testing and releasing the Babbage scope, we want to be an "early adopting" DApp prior to the Vasil HF.

In this effort we need to switch to the newly created `Babbage` era and use it in our `Chain` access components and connect to a pre-release cardano-node on the corresponding testnet.

Furthermore, this allows us to test drive the requested-by-us (as [CIP](https://githu

[2022-03-22 16:22] ch1bo commented on #280
Labelled :red_circle: because this was not discussed yet and I added it to keep track.

[2022-03-23 07:02] #268 closed, assigned to nobody

[2022-03-23 08:30] ch1bo commented on #278
Closed by merging #281

[2022-03-23 08:30] #278 closed, assigned to nobody

[2022-03-23 08:51] #277 closed, assigned to nobody

[2022-03-23 08:52] #271 closed, assigned to KtorZ

[2022-03-23 08:52] #275 closed, assigned to nobody

[2022-03-23 09:16] ch1bo commented on #276
We released tag https://github.com/input-output-hk/hydra-poc/releases/tag/0.4.0

[2022-03-23 09:16] #276 closed, assigned to nobody

[2022-03-23 09:56] ch1bo opened #284 "Check all Hydra txs signed by a Head participant"
By checking there is a signature of a PT spent in a given tx. For example, in order to close the Head, one must sign the `closeTx` with a key having the same pubkeyhash as any of the PTs (token names) consumed by the `closeTx`

[2022-03-23 10:29] ch1bo commented on #184
What does "remaining operational" actually mean? If we are fine by loosing off-chain state, but always want to stay "in control" of the Head, we could do the following for example (as a very simple dirt-road):

* We record the "point" when a Head was initialized (or just before that)
* We detect rollbacks and communicate that one happened to the client
* We provide a way to start a hydra-node give

[2022-03-23 10:32] ch1bo commented on #184
An (easy) extension to :point_up: is to keep track of two points, an "init" point and an "open" point. That way, we could distinguish the rollbacks impacting the opening of a Head or not. Only when the opening of the head is impacted we would (suggest) to throw away the off-chain head state.

[2022-03-23 16:21] ghost opened #285 "Add analytics to hydra.family website"
Arguable part of  #183

[2022-03-23 16:22] #285 closed, assigned to nobody

[2022-03-23 17:41] ch1bo commented on #257
Written down my ideas before heading off into some vacation. This is still a VERY MUCH WIP draft of things: https://github.com/input-output-hk/hydra-poc/tree/ch1bo/adr-18-single-state

[2022-03-23 22:35] pgwadapool opened #286 "Latest code throws error key "contestationDeadline" not found""
Can launch the terminals and do transaction in the head
Finally when head closes I get this error
key "contestationDeadline" not found"

With 0.4.0 this error is not there

[2022-03-24 02:43] pgwadapool commented on #286
This is solved with update to TUI.

[2022-03-24 02:43] #286 closed, assigned to nobody

[2022-03-24 06:43] dhruvtyagi opened #287 "Hydra demo docker-compose up -d"
I am trying to follow the Hydra: Head Protocol demo ( [https://hydra.family/head-protocol/docs/getting-started/demo/with-docker/](url) ). When I do docker-compose up - d I get the following errors:

[code]

I am on a proxy server, if that is of any significance.

[2022-03-24 06:53] abailly commented on #287
It looks like you are not starting from the `demo/` directory as it cannot find the required files. Also, seems like you are missing `PWD` environment variable, which admittedly is never mentioned in the docs.

[2022-03-24 07:09] dhruvtyagi commented on #287
I'm positive i'm in the demo directory.

[2022-03-24 07:12] ghost opened #289 "Links to Haddock from hydra.family are broken"
<img width="1158" alt="Screenshot 2022-03-24 at 08 10 45" src="https://user-images.githubusercontent.com/79840582/159861961-93d56b6a-3d5e-4765-902e-a6ec80773193.png">

Also this breaks CI: https://github.com/input-output-hk/hydra-poc/runs/5670859844?check_suite_focus=true#step:4:80

[2022-03-24 07:14] ghost commented on #287
It's the `PWD` that's causing issues. #288 removes it and should fix your problem.

[2022-03-24 07:21] dhruvtyagi commented on #287
Okay I'll try

[2022-03-24 08:57] #289 closed, assigned to nobody

[2022-03-24 09:32] dhruvtyagi commented on #287
Thanks a lot. It did.

[code]

[2022-03-24 09:32] #287 closed, assigned to nobody

[2022-03-24 09:51] dhruvtyagi opened #290 "SSL Error"
OS: Windows 10

I was following [https://hydra.family/head-protocol/docs/getting-started/demo/with-docker/](url) and entered the following command:
`docker-compose --profile tui run hydra-tui-1`

I am getting the following error :

[code]

I am running behind a proxy server which might be causing this.

[2022-03-24 10:00] ghost commented on #290
I have updated the instructions in #288 , could you try `docker-compose --profile tui pull` before the run?

[2022-03-24 10:14] dhruvtyagi commented on #290
Whenever I run these commands for the first time, some nodes get pulled successfully while others don't. Like this:

[code]

But when I run it for the second time, all nodes get pulled successfully.

[2022-03-24 10:44] dhruvtyagi commented on #290
@abailly-iohk
I am getting this :

[code]

[2022-03-24 11:31] ghost commented on #290
Did you run `prepare-devnet.sh`?

[2022-03-24 11:44] dhruvtyagi commented on #290
Yes, I did it right after "docker-compose --profile tui pull".

[2022-03-24 11:57] ghost commented on #290
This sounds like a different problem than SSL connectivity, you should have a `devnet/credentials/` directory containing the needed keys.

[2022-03-24 12:19] ghost commented on #290
🤔  I think I know why: You're on Windows so I am unsure how local directories mounting work now. It used to be the case on Windows and Mac OS X that only some directories from your local disk would be available to the VM running docker so in general, mounting arbitrary directories would not work.
We should probably add a warning in documentation saying this is only tested on Linux.

[2022-03-25 06:53] ghost commented on #182
Rather than adding complexity in the off-chain ledger, we could add those checks where they belong, in the on-chain ledger interface, and prevent `CloseTx` transaction from being posted depending on various conditions. This would not prevent someone to craft such a transaction outside of the Hydra node though.

[2022-03-28 08:31] #284 closed, assigned to nobody

[2022-03-28 08:32] #290 closed, assigned to nobody

[2022-03-29 08:08] #247 closed, assigned to nobody

[2022-03-29 09:08] ghost commented on #246
My current best idea is to leverage the existing `tx-cost` executable, turning it into a proper benchmark so that we can run it easily in CI and generate tables and data for inclusion in the documentation site.

[2022-04-04 08:38] ghost commented on #259
Seems like we cannot actually implement this.

[2022-04-05 08:10] #246 closed, assigned to nobody

[2022-04-06 08:01] KtorZ opened #296 "Spike: see how we to test rollbacks and their consequences on the head lifecycle."
## Why & What

In the pursuit of #184, we'll need to find a proper way to test the effect of rollbacks. There are several approaches to this, some more reliable than other. We could for example replace our single-BFT node setup in the end-to-end by a cluster of pools; this approach however isn't fully reliable as the presence of rollbacks will heavily depends on the random leader election procedur

[2022-04-06 09:05] #243 closed, assigned to KtorZ

[2022-04-06 09:06] #181 closed, assigned to nobody

[2022-04-07 08:14] #255 closed, assigned to nobody

[2022-04-07 08:29] KtorZ opened #299 "Add command-line option to start the chain-follower from a specified point (or set of points?)"

[2022-04-07 08:30] KtorZ opened #300 "Connect to Chain from given point (in the past)"
# What & Why

Currently, it is mandatory for all heads to be up-and-running to observe any of the on-chain activity. This requires extra coordination between participants and may lead to situations where it's easy to miss an `init` for example.

To make the experience more delightful and reliable, we want to introduce the ability to start a hydra-node, not from the most recent chain tip, but from

[2022-04-07 12:36] ghost commented on #183
Couple of basic ideas:
* What are interesting metrics to collect off-chain?
* We already publish prometheus metrics inside the hydra-node, we could simply add a sidecar that scrapes it and send data to a public grafana cloud instance
* Other part  could be handled by observing the chain

[2022-04-07 14:57] KtorZ opened #302 "Enable internal chain-follower to start from any point in the past."

[2022-04-08 07:54] #302 closed, assigned to KtorZ

[2022-04-08 14:25] ch1bo commented on #246
@abailly-iohk Maybe tagging the issue in a squashed commit or PR is enough to avoid the notification spam? :)

[2022-04-08 14:52] ghost commented on #246
I ignore the notifications so did not get them, sorry

[2022-04-12 12:45] #299 closed, assigned to KtorZ

[2022-04-13 08:22] ch1bo opened #306 "Detect rollbacks, communicate that one happened to the client"

[2022-04-13 08:22] ch1bo opened #307 "Record "points" when a Head was initialized, opened etc. (or just before that)"

[2022-04-13 08:45] ch1bo commented on #300
TODO: Update the changelog.

[2022-04-13 13:42] #257 closed, assigned to ch1bo

[2022-04-19 07:24] ghost opened #314 "Update Changelog"
* Start chain from a past block
* Basic rollbacks handling

[2022-04-19 07:25] ghost opened #315 "Address comments about rollbacks PR"

[2022-04-19 07:54] ch1bo commented on #184
Updated the requirements to reflect our current approach.

[2022-04-19 09:03] #300 closed, assigned to nobody

[2022-04-19 09:03] #306 closed, assigned to nobody

[2022-04-19 09:03] #307 closed, assigned to nobody

[2022-04-19 09:03] #314 closed, assigned to nobody

[2022-04-19 09:03] #315 closed, assigned to nobody

[2022-04-19 09:56] #296 closed, assigned to KtorZ

[2022-04-19 09:58] ch1bo commented on #184
Done as we also merged #310

[2022-04-19 09:58] #184 closed, assigned to nobody

[2022-04-19 14:06] ch1bo commented on #187
Added some bullets for some subtasks of this.

[2022-04-20 08:01] ch1bo opened #318 "Use non-mocked Ed25519 crypto"
## What & Why

As we have #193 only a bit later, we want to switch to using proper keys and signature scheme **still using naiive multi-signatures consisting of a simple list of signatures**.

We also want to measure how expensive it is to validate `closeTx` with `n` number of parties and using proper crypto. This will give us an estimate in how pressing using aggregated multi-signatures is.

## T

[2022-04-20 08:09] ghost commented on #318
Ironically enough, `CloseTx` is missing from our transaction costs benchmark so this issue would be a great motivator for adding it

[2022-04-20 08:59] ghost opened #319 "Fix CI to publish haddock and test results properly again"

[2022-04-20 09:20] ch1bo commented on #318
Added it into a rough tasks list!

[2022-04-20 12:13] #319 closed, assigned to nobody

[2022-04-22 06:22] ghost commented on #189
I think priority of this issue should be raised but in order to be useful, it should be reframed as "Dirt Road Hydra-Head-as-a-Service"

[2022-04-22 06:23] ghost commented on #192
I think this issue's priority should be much higher, actually being the next important thing we work on.

[2022-04-22 06:24] ghost commented on #194
I think this issue's priority should be raised and researchers pulled in ASAP to provide us static feedback, while Quviq works on contracts' certification

[2022-04-22 12:32] ch1bo commented on #194
We plan to go through an example of our "HeadLogic" (after some refactoring maybe) with the original paper authors to find a common denominator to review the protocol logic.

[2022-04-23 16:49] btbf opened #323 "Multilingualization of the user manual"
## Why & What
There is no doubt that the Hydra Head Protocol is a Cardano Blockchain Layer 2 solution that many developers will need.
However, in order for more people around the world to build the Hydra Head Protocol, a shortcut is to make it available in multiple languages. Especially for those who are not fluent in English, English documentation is a hurdle that will slow down the deployment of

[2022-04-23 17:05] KtorZ commented on #323
@btbf thanks for reaching out and, I definitely support your initiative! if you can work on the translation, I (or we) will make sure to rework the doc sources to work with i18n and make adding new translations easy; shouldn't be too hard with Docusaurus indeed.

[2022-04-23 17:07] KtorZ commented on #323
On a second note: we'll have to think about how to keep the translations in-sync. Given that the project is still under heavy development, we add and change documentation quite a lot.

[2022-04-23 17:19] btbf commented on #323
@KtorZ I would be delighted to help you with the project.
Would you like to start with Japanese to build a foundation to begin with?
I am currently available to work full time on Cardano and can add or change documentation as needed.

[2022-04-24 08:50] abailly commented on #323
@btbf Thank you so much for your contribution, that's a great idea! I wish we find the time with @KtorZ to provide a French version :)

[2022-04-25 10:05] ch1bo opened #324 "Change Client API"
## What & Why

Likely our API is not suitable for most users right now. We want to collect some feedback on what endpoints/formats within this feature idea.

Currently our API exposes a single websocket which accepts some inputs and produces some outputs. There is an Architecture Decision Record (ADR) on [why we chose this design](https://hydra.family/head-protocol/adr/3), but we have been also co

[2022-04-26 07:18] ghost commented on #183
I have setup and used jaeger and zipkin in the past, including inside Haskell apps and having a way to track the processing of user requests across a distributed system is invaluable to understand its behaviour.

Looking at https://github.com/ethercrow/opentelemetry-haskell which provides support for traces. Someone pointed me at https://opentelemetry.io/docs/concepts/data-collection/ which provid

[2022-04-26 12:36] ch1bo commented on #182
We consider pausing this effort, after solving the first requirement, and revisit this when we have more feedback for or against this feature.

[2022-04-26 12:46] #324 closed, assigned to nobody

[2022-04-27 13:09] ch1bo commented on #194
After a quick tour of the code (mostly `Hydra.HeadLogic`) and the [paper](https://eprint.iacr.org/2020/299.pdf) (mostly section 6.2) we identified the following
* We have implemented the "Coordinated" version of the Head protocol, which is not using individual transaction signing or socalled "hanging transactions" and currently is *not* formalized
* There is a good chance of drawing a parallel bet

[2022-04-27 13:53] ch1bo opened #328 "Website: Edit this page not working"
Edit this page link not working

Seems like it is having one level too much on the URL.

![image](https://user-images.githubusercontent.com/2621189/165534174-427d7e0e-15fa-4693-948c-8368eb84ae81.png)

[2022-04-29 09:04] ch1bo opened #331 "Flaky test in DirectChainSpec"
Maybe a flaky test: https://github.com/input-output-hk/hydra-poc/runs/6191890966?check_suite_focus=true

[code]

[2022-05-02 06:54] #318 closed, assigned to nobody

[2022-05-03 08:50] ghost opened #337 "Translate code into semi-formal notation for verification purpose"

[2022-05-03 08:51] ghost commented on #337
Part of #197

[2022-05-03 10:38] ch1bo opened #339 "Update dependencies and create babbage-preview branch"

[2022-05-03 12:24] ch1bo commented on #190
Changed to 🟡 because we this is quite complex in terms of plutus contracts. We are quite sure we have everything we need, but it's not clear whether it "fits" and the changes are likely also quite involved.

[2022-05-03 12:33] ch1bo commented on #197
Maybe we should start with a spike on this one to understand better what we could possibly do in this regards.

[2022-05-03 12:41] ch1bo commented on #280
Discussed this in planning session and with added scope we deem this to be 🟢. Also prioritized this up to provide feedback to plutus early and be in a position to verify this feature for vasil HF.

[2022-05-03 12:50] ch1bo commented on #182
We discussed this again and realize that the most important bit of this would be

We aim to create a follow-up/alternative feature which mostly focuses on that and delays snapshot signing instead of rejecting transactions. This would allow minting "outside of snapshots", i.e. not having snapshots covering the txs with minted tokens, unless they are burned.

[2022-05-05 09:11] ch1bo commented on #192
Points we should not forget when doing this, maybe as sub- or follow-up tasks:
- [ ] Changelog update
- [ ] Adding "Cost of contest transactions" to `tx-cost` benchmark
- [ ] Full end-to-end including the `hydra-tui` of this feature.

[2022-05-06 13:15] ch1bo commented on #191
It seems like all changes to plutus scripts need to be treated as "breaking changes", i.e. a Hydra Head would need to be closed and re-opened. Why? When implementing the V1 script, we would not know the V2 script hash already and hence we could not make it "forward compatible".

Furthermore, any change to the scripts *and* the upstream components like the `plutus-tx` compiler will result in change

[2022-05-06 17:19] ch1bo commented on #186
Please leave a comment if you are particularly interested in some scenarios!

[2022-05-09 16:17] nazrhom commented on #252
Hey @ch1bo I think `cp -afT "$BASEDIR/hydra-cluster/config"` can be replaced with `cp -af "$BASEDIR/hydra-cluster/config/."` in `prepare-devnet.sh` to make it compatible with BSD cp.
I also noticed `sed` reports `sed: 1: "devnet/genesis-byron.json": extra characters at the end of d command` when running the script, but that doesn't seem to cause any issues

[2022-05-10 05:48] pgwadapool opened #347 "Fix in the documentation of Hydra core concepts rollback"
this document can this be changed from "Hydra head" in the boxes to "Hydra nodes" it currently depicts like multiple heads talking to each other
https://hydra.family/head-protocol/core-concepts/rollbacks/

[2022-05-10 12:25] ch1bo commented on #194
Changing to 🟡 as it's scope is actually unclear and we only get started on this one now.

[2022-05-10 13:11] ch1bo commented on #191
We discussed and detailed the description of this feature a bit today. The on-chain scripts really feel a bit like "shipping hardware" as they won't be upgradable (without introducing authority) and we better get them right / good enough when shipping a 1.0.0.

Besides that, it might be enough to contain those breaking changes and not accidentally change them.

Open question just coming to mind wh

[2022-05-10 13:13] ch1bo commented on #252
Happy to accept a PR with revised scripts! I cannot make one as I wouldn't be able to test the changes.

[2022-05-12 14:26] KtorZ commented on #328
Fixed in ab8d205386c5f4ecd1803181e3772dc5389fc3d0

[2022-05-12 14:26] #328 closed, assigned to nobody

[2022-05-12 14:30] KtorZ commented on #347
Doh. We did fix it a while back in the source document where the diagram was made, but forgot to export to the new image to the hosted website.

[2022-05-12 14:34] #347 closed, assigned to nobody

[2022-05-13 07:03] ch1bo opened #353 "Migrate scripts to PlutusV2 to, use serializeData and benchmark tx-cost"

[2022-05-18 09:21] ch1bo commented on #252
Closed in #348

[2022-05-18 09:21] #252 closed, assigned to nobody

[2022-05-18 12:10] ghost opened #356 "Close / contest validators enforcing contestation period"
Also check strict monotonic increase of snapshots and their signatures

[2022-05-19 05:51] ghost opened #357 "Fanout should only be postable after contestation deadline"

[2022-05-19 09:02] #356 closed, assigned to nobody

[2022-05-19 09:07] ch1bo commented on #353
Closed by creating draft PR #355

[2022-05-19 09:07] #353 closed, assigned to ch1bo

[2022-05-19 09:07] ch1bo commented on #339
Closed by creating draft PR #355

[2022-05-19 09:07] #339 closed, assigned to ch1bo

[2022-05-19 09:07] ch1bo commented on #280
Closed by creating draft PR #355

[2022-05-19 09:07] #280 closed, assigned to nobody

[2022-05-19 09:08] ch1bo commented on #280
We intend to derive a follow-up feature of actually switching to `PlutusV2` and `Babbage` in our next planning session.

[2022-05-20 07:56] ch1bo opened #358 "Exclude phantom tokens from snapshots"
## What & Why

This idea is based on a discussion between @KtorZ and @Quantumplation on what they called "phantom tokens": Generically minting assets in a Hydra Head would render it likely unclosable because the fanout transaction does not satisfy the minting policy on L1 as it was satisfied on the L2. However, not all minted tokens are always intended to be used outside of a Hydra Head, so it mig

[2022-05-20 08:23] ch1bo commented on #196
Some notes in tracking time
* We may not receive blocks for some time -> dead reckoning required
* Block times are only ~20 secs on mainnet -> we probably want a higher fidelity in "current slot" on our internal ledger
* Ouroboros praos is relying on a global clock anyways -> use NTP as well and just bridge those gaps?

[2022-05-24 07:43] ch1bo opened #361 "Update babbage-preview and smoke test against vasil-testnet"
A manual smoke test of a full Hydra Head life-cycle should be sufficient here.

Later we might want to have a test suite which can run an end-to-end scenario against a testnet?

[2022-05-24 08:26] #357 closed, assigned to nobody

[2022-05-24 09:57] ghost opened #362 "Automatic re-contestation after a contest (Behavior tests!)"

[2022-05-24 10:04] ch1bo opened #363 "Have a client input + tui command to fanout explicitly"
## What & Why

We have discovered this as something we were missing when using the Hydra Head on the testnet. It is odd that the fanout transition of the Head life-cycle is done automatic, while the others are explicitly driven by the client.

In this story we want to:
* Inform the client that fanout is possible using a server output
* Add a `Fanout` client input

[2022-05-24 10:08] ch1bo commented on #363
This is related to #362 as we have been debating how to handle the case where another node contests our latest confirmed snapshot and we would be unable to fan out. It's easier to handle and inform the client when fanout involves client communication (as in the happy case described above). CC @abailly-iohk

[2022-05-24 10:08] ch1bo commented on #192
When we were implementing the https://github.com/input-output-hk/hydra-poc/issues/362 sub-task of this we realized that we maybe should not fan out automatically, but allow the client to do the fanout based on some output he got from the API. This is something we have discussed in the past in #363

[2022-05-25 08:11] KtorZ opened #366 "Automatic Transaction Re-submission in Chain-Component"
## Why

Transactions driving the head state-machine may not end up in a block even though they have been submitted successfully for a variety of reasons (local rollback, forks later in the network, intermittent network failure...). But, we want (still valid) transactions to end up on-chain, eventually! This is particularly important for contest which are security-sensitive.

## What

Automatically

[2022-05-25 08:40] #362 closed, assigned to nobody

[2022-05-25 08:51] #192 closed, assigned to nobody

[2022-05-25 12:55] Quantumplation opened #367 "NoPaymentInput from TUI when committing funds during head opening"
We occasionally get "NoPaymentInput" when going through the process of opening a hydra head using the TUI and the demo directory.

Strangely, the common factor *seems* to be the **order** of the UTXO: this seems to happen if the wallet fuel UTXO (the one with the datum attached) isn't first in the list.  Once we built a transaction that reordered the UTXOs in the wallet so that it was first, the T

[2022-05-25 13:24] ch1bo commented on #367
Thanks for raising this. What version are you using? (Need to add some issue templates :grimacing: )

[2022-05-26 15:23] Quantumplation commented on #367
@ch1bo Commit `7ebee872dbf4563035a1fbb394afbd4ae85b487f`

[2022-05-30 06:40] #363 closed, assigned to ch1bo

[2022-05-30 09:01] ch1bo commented on #367
Tried to reproduce this behavior in a unit test around our function which does `findFuelUTxO`, but it seems that one is behaving as expected. Maybe it's not about the ordering and more a race-condition in this very fragile piece of code -> our internal wallet does retry up to 10sec when not finding a payment utxo to work-around the fact that we have not seen a block on the wallet chain sync yet (b

[2022-05-30 14:31] ch1bo commented on #367
Reverse engineering the observations:

* [this](https://github.com/input-output-hk/hydra-poc/blob/7ebee872dbf4563035a1fbb394afbd4ae85b487f/hydra-node/src/Hydra/Chain/Direct.hs#L218) is the only location where `NoPaymentInput` is thrown
* it's thrown after if we don't construct and submit a tx within `10sec` in an `STM`
* the only `retry` is in in [finalizeTx](https://github.com/input-output-hk/hyd

[2022-05-31 08:10] ch1bo commented on #358
Related to #370

[2022-05-31 09:19] ch1bo opened #370 "Only sign closable snapshots"
## What & Why
We want Hydra Heads to be secure. This means that we can close & fan out the L2 state at any point throughout the life-cycle of a Hydra Head.

There are however some situations which make the Head "unclosable", because our validator would fail. For example, if assets are minted in a Hydra Head, the UTxO set including the new assets would not be closable because the L1 would require t

[2022-05-31 09:20] ch1bo commented on #182
Created #370 to capture more directly the security concern of unclosable Heads, whereas this item here aims at improving the UX on unsupported transactions.

[2022-05-31 11:56] KtorZ opened #371 "Configurable latching of message history on client connection"
## Why & What

Currently, when a client connect (via WebSocket) to a Hydra node, the server replays the entire history of event through the connection. This is meant to allow stateless event-driven clients that can be fully driven by the API. However, as the head grows and lasts, this initial dump can be large and unnecessary for some use-cases where clients are only really interested in the lates

[2022-05-31 11:59] KtorZ opened #372 "Make protocol parameters & ledger globals available through the client API"
## Why & What

Construction transaction to submit through a head requires client to be aware of a certain number of parameters. Those parameters are currently provided to the head as configuration files on start-up. While clients can in principle digest those same files to derive the required information, it is usually much more convenient for them to pull those pieces of information directly from

[2022-05-31 12:44] ch1bo commented on #196
As we see user requests & asking about this we decide to prioritize this a bit higher, aiming for doing this within scope of a 1.0.0 hydra-node.

[2022-05-31 12:48] ch1bo commented on #188
We have not experienced this much (might be more relevant if we would have UDP transport) and have no concrete user requests for this -> prioritize lower, still aiming 1.0.0 but maybe not.

[2022-05-31 12:56] ch1bo commented on #190
Having #370 makes this not pressing as we will not have unclosable Heads. Also, we have ideas in how to improve fanout performance (not decoding `TxOut` in the script context). Let's revisit this if it is brought up by users.

[2022-05-31 19:13] #337 closed, assigned to nobody

[2022-05-31 19:15] ghost opened #375 "Spike: Model-based testing of Hydra protocol using quickcheck-dynamic"
# Context

* Step 1 of certification for DApps involve implementing model-based testing along the lines of https://plutus-apps.readthedocs.io/en/latest/plutus/tutorials/contract-models.html#becoming-level-1-certification-ready
* On top of on-chain contracts, Hydra Head Protocol add off-chain interactions and protocol between the Hydra nodes
* Following the discussion in https://github.com/input-ou

[2022-06-01 04:22] Quantumplation commented on #367
@ch1bo it's theoretically possible, but I doubt it; when the commit didn't go through, Raymond (the engineer who had first noticed this behavior) mentioned I needed to reorder the txs, and then I spent time building a tx that did so via cardano-cli; I'm almost positive all of that took longer than 10s 😅

[2022-06-01 10:32] ghost opened #377 "Spike: Model chain interaction layer using ContractModel"
## Why

We want to assert whether or not the proposed approach towards certification (https://plutus-apps.readthedocs.io/en/latest/plutus/tutorials/contract-models.html) using the existing `ContractModel` developed in collaboration with Quviq is suitable for us.

## What

* Start from https://github.com/Quviq/hydra-poc/tree/PR-ContractModel and try to get it past the finish line, eg. run it agains

[2022-06-01 12:24] ch1bo opened #378 "Flaky CryptoSpec"
The `CryptoSpec` is flaky in at least this seed:

[code]

[2022-06-01 13:22] ch1bo commented on #194
@abailly-iohk This has become quite related/overlapping with #197 now. Shall we just ditch that one and capture our current tasks in this one? We ought to define the scope of this one also a bit better!

[2022-06-01 13:40] ghost commented on #370
Other implementation idea: We could use a specially configured ledger, with specific rules preventing application of transactions leading to unclosable UTxO. This would have the nice property of encapsulating this filtering logic inside the `Ledger` interface, thus not requiring any change to the core logic or interfaces.  This would have the additional benefit of providing some blueprint or forci

[2022-06-01 13:41] ghost commented on #370
FWIW, one use-case for Hydra Head is micro-payments which could very easily lead to UTxO that cannot be committed back on-chain. How are we supposed to handle this problem if we implement this feature?

[2022-06-01 13:42] ghost commented on #197
Closing in favor of #194

[2022-06-01 13:42] #197 closed, assigned to nobody

[2022-06-01 14:26] ch1bo commented on #370
I expect these UTxOs preventing snapshots to be signed until they are aggregated again. Maybe we could generalize #358 to also exclude these outputs from signing snapshots to have more confidence on unrelated outputs?

[2022-06-01 19:06] ch1bo commented on #367
Could you save and supply Hydra node logs if this happens again? I'm a bit at a loss what could cause this and only way to avoid this is a complete restructure of the code to not have this wart of retrying until a payment output can be found. Maybe someone else has an idea.

[2022-06-02 07:11] ghost opened #379 "Output transactions to client in CBOR instead of JSON"
## Why

* The `ServerOutput` data provides `Seen` and `Confirmed` transactions in a custom JSON format described in our [API doc](https://hydra.family/head-protocol/api-reference)
* This makes integration with pre-existing thirdparty tools like "chain indexers", which most probably use CBOR format, harder

## What

* Optionally format transactions in CBOR in the `ServerOutput` messages

[2022-06-02 07:15] ghost opened #380 "Allow API client to control the server output"
## Why

Clients might have different requirements about the data they want from our API Server:
* Some might not want to be fed the history of previous messages when they connect
* Some might want to send/receive transactions in JSON or CBOR

## What

* Provide a way for the client to specify what kind of output they want to see when they connect to API Server
* Server configures the connection ac

[2022-06-02 07:36] ghost opened #381 "Decouple wallet from the chain layer"
## Why

* On-chain interaction is currently tied to our `TinyWallet` which is very restricted and somewhat complicated
* Signing and balancing transaction is actually a somewhat intricate process which we sidestepped by using a marked UTxO which has its own problem, the main one being that it needs to exist in the first place
* Users might not want to entrust yet another wallet with funds and secr

[2022-06-02 08:57] ch1bo commented on #381
Related / alternative to #215

[2022-06-02 10:25] #361 closed, assigned to nobody

[2022-06-02 10:43] ghost commented on #377
Here are known limitations in plutus-contract that need to be overcome for this to work:
[code]

[2022-06-02 12:40] ch1bo opened #383 "Multiple Heads per hydra-node"
## Why

To optimize resource usage, users might want to have a single `hydra-node` be able to maintain and interact with multiple Hydra heads. If the peer nodes of multiple hydra heads are overlapping, the network connections could be re-used. Also, there might be use cases where within the same group of actors, a head shall be already opened why another head is still in it's finalization phase.

[2022-06-03 10:37] ch1bo commented on #259
Since #385 we can implement this now.. if we want :)

[2022-06-03 10:58] ch1bo opened #387 "Create/revisit test suite running against a testnet"
### Why

We want to to be able to evaluate the vasil testnet and/or testing our codebase against public testnets without much effort (ad-hoc).

### What
We want to have a test suite which can be run semi-automatically (in a workflow triggered or automatically with occasional feeding with ADA) via github actions. This is very similar to our `EndToEnd` tests in `hydra-cluster`, but we would want to

[2022-06-03 12:56] azaretsky opened #388 "Fanout failure / big negative remainingContestationPeriod"
Recently `Fanout` on-chain transaction started to always fail with the following reason:

[code]

I suspect that I somehow messed up my privnet setup, but could not identify any changes. So this is rather a call for help.

I have a docker compose spinning up a cardano-node instance and 2 hydra-nodes. It is the same setup as in [hydra-poc demo](/input-output-hk/hydra-poc/tree/0.5.0/demo) reduced to

[2022-06-03 13:06] azaretsky commented on #388
After updating to `ghcr.io/input-output-hk/hydra-node@sha256:4ea632938973394c057ef297ff794de318cf123436e33bcb314cd05d9ab2af27` fan-out validation still fails but the error is now `lower bound validity before contestation deadline` which is very suspicious because the `Fanout` was issued after receiving `ReadyToFanout` from API server.

Also `HeadIsClosed` before `ReadyToFanout` looked like this:
[

[2022-06-03 13:06] ch1bo commented on #388
What version of `hydra-node` do you run? The provided docker image hash is not one of the released tags, so likely you have been using the `latest` docker image?

[2022-06-03 13:07] ch1bo commented on #388
Okay. sha256:4ea632938973394c057ef297ff794de318cf123436e33bcb314cd05d9ab2af27 is the current `latest` from our current `master` version.

If you want to have a working setup, the latest tagged version `0.5.0` should work.

Besides that, we can try to solve your issue as the latest error with a negative `remainingContestationPeriod` sounds interested!

[2022-06-03 13:13] azaretsky commented on #388
Yes, I think it was the `latest` as of this Monday. I'll retry with the current `latest` and also `0.5.0`, and report the full logs.

The reason for using `latest` instead of `0.5.0` is unrelated to this issue: I experimented with the new `NewTx` CBOR submission, so this image was just lying around.

[2022-06-03 13:43] azaretsky commented on #388
With `0.5.0` fan-out works as expected.

Here are the node logs for `sha256:4ea632938973394c057ef297ff794de318cf123436e33bcb314cd05d9ab2af27` with negative `remainingContestationPeriod`:
[hydra-fanout-failure-logs-4ea63293.tar.gz](https://github.com/input-output-hk/hydra-poc/files/8832717/hydra-fanout-failure-logs-4ea63293.tar.gz)

[2022-06-03 15:14] ch1bo commented on #388
Do you have also the `cardano-node` logs? I'm afraid we do not log the current observed slot on the chain so it's a bit tricky to debug.

On alice's node:
* `2022-06-03T13:35:36.384661119Z` the `CloseTx` gets posted with `notAfter: 1441`, that means slot `1441` + `10` seconds should be the deadline
* `2022-06-03T13:35:36.41938441Z` we observe the same transaction as `OnCloseTx` with a `remainingCo

[2022-06-03 18:53] azaretsky commented on #388
Waiting for 30 seconds didn't help.

Reproduction steps are quite awkward and not fully automatic. All I could come up with looks like this (mostly stolen from `hydra-poc` demo):
[mre.tar.gz](https://github.com/input-output-hk/hydra-poc/files/8834864/mre.tar.gz)

[code]

Then in separate terminals from the same `hydra-fanout-failure` directory invoke `docker-compose --profile tui run hydra-tui-1`

[2022-06-05 08:46] ghost commented on #370
The more I think about it, the more I view this feature as problematic for quite a large number of use cases, to the point of making the Hydra _Head_ protocol pretty much useless but for only a small subset of the usages we envisioned initially. If we don't sign snapshots that are not "fannoutable":
* We cannot post micro-payment transactions in the Head, where value is less than minimum on-chain

[2022-06-07 06:27] ch1bo commented on #370
@abailly-iohk I think you are right and I shall think about this a bit more as well. One thing which struck my mind when reading your comment:

If we would be using MPTs, we could fan out the parts of the Head which are sound, even though the Head is closed.

However this would open up again "attacks" where a party says "yeah.. i'm not going to close the head while you have all your money in coin

[2022-06-07 06:31] ghost commented on #370
In any case, this seems a hot topic to discuss with research team.

[2022-06-07 10:18] #367 closed, assigned to nobody

[2022-06-07 10:19] ch1bo commented on #367
@Quantumplation we reworked the internal wallet to not have this race condition anymore. Could you try to use that version (current master) and report back / reopen if you see problems with that implementation again?

[2022-06-07 15:33] nazrhom opened #389 "CekErrors inside the head are encoded"
Hello, I noticed that when submitting a tx inside the head, the CekError that is attached to the `TxInvalid` event is encoded.

This is an example output I am getting:

[code]
 where the `hZ8aA....AA==\` strings can be decoded via `debugPlutus` to get a readable error.
 I was wondering if it would be possible to show the decoded error directly in there. It looks like it is done in case of a single

[2022-06-07 16:29] ghost commented on #389
The Direct module is the part that talks to the _actual_ chain, whereas the Head maintains a completely separate `Ledger` and applies transactions on it independently, hence the discrepancy in error handling. It's perfectly reasonable to expect the off-chain ledger's errors to be reported in a more human-readable way :)

[2022-06-08 15:57] nazrhom opened #390 "Question about hydra-node parameters"
I noticed that the documentation around hydra-node parameters is a bit terse in https://hydra.family/head-protocol/docs/getting-started/quickstart#hydra-node-options Looking at `--help` from the node does give some more information but it could still be more clear regarding which options can be passed multiple times and which can't. It would also be helpful to include an explanation of why certain

[2022-06-08 16:27] KtorZ commented on #390
@nazrhom thanks for the feedback, you're raising relevant points. We'll make sure to address that in the doc.

Regarding your question:

Technically speaking, yes. At least for now. The long-term plan is to use some Schnorr-Compatible multi-signature scheme when it comes to Hydra consensus keys (which allows the verification keys and signatures to be aggregated into elements of constant size).  At

[2022-06-09 12:09] KtorZ opened #392 "Introduce mechanism for request/response synchronization of some client inputs"
## Why

Some server outputs are immediate consequence of client inputs. In a certain way, they are synchronous requests made asynchronous because of the underlying transport mechanism that we use (namely, WebSockets). However, there are numerous cases where relying on the synchronous nature of those request would be handy. In particular, it can be hard for a client to determine to which request do

[2022-06-09 12:22] KtorZ opened #393 "Hydra Plugins"
## Why

As for any protocol, Hydra comes with both limitations and guarantees. Those guarantees are good enough for a certain number of use-cases. Yet, the current setup lack of flexibility in the sense that users can't really adapt or enhance the protocol to fit a use-case which is _almost_ addressed by the basic version of the protocol.
Being able to provide this flexibility without compromising

[2022-06-09 12:30] KtorZ opened #394 "Add a notion of 'time' to some server outputs"
## Why

Because the whole communication API for Hydra is asynchronous, it can be hard for a client application to know how to relate events to time. For example, `GetUTxOResponse` returns the _current_ UTxO known of the head; but _"current"_ is not a well-defined moment. What was the last confirmed snapshot number at that moment? What was the last seen transaction? What was the _virtual_ slot of t

[2022-06-09 15:25] ghost opened #395 "Cannot fanout a head closed with initial snapshot"
While trying to reproduce #388 using the `demo` I uncovered that Fanout fails when the Head has been closed with `InitialSnapshot`. Trying to post the transaction produces the Plutus error:
[code]

Fanout works correctly when at least one transaction has been done in the Head. And I have not been able to reproduce #388.

[2022-06-14 08:44] ch1bo opened #397 "Abort heads using reference scripts/inputs"
## Why

The current implementation of the Hydra Head cannot always abort a Head initialization. This is because the abort transaction is too big (> 16kB), especially if all it's aborting a mix of both, initial and commit outputs. However, it is vital that we can abort any Head initialized (up to a reasonable number of parties).

## What

We want to improve transaction size utilization by not needi

[2022-06-14 09:08] ch1bo commented on #392
Do you want to do 1 and 2 or only one of them? If only one, we should decide which before planning this as a feature

[2022-06-14 09:11] ch1bo commented on #393
An example would help me in understanding this. Would this be a script checking the fanout transaction? Would this script also be used on the L2 to *ensure* it will be a valid fanout transaction?

[2022-06-14 09:14] ch1bo commented on #394
What is it what we should do concretely? Add `slotNo` to all server outputs?

When trying to debug #388 it also occurred to me that we should include the current `slot` in chain related logs - might be related.

[2022-06-14 09:19] KtorZ commented on #394
A `slotNo` or a snapshot number. Maybe both. I think both have values.

[2022-06-14 09:21] KtorZ commented on #393
@ch1bo yes and yes. The point is to add extra L1 validations, that are also enforced on L2. From a ledger perspective, you can really imagine an extra step composed with `applyTx` which then also executes the script. If it fails then, the tx wasn't actually valid to apply.

[2022-06-14 09:22] KtorZ commented on #392
I want to discuss the idea first ^.^. As I said, both are complementary, and perhaps (1) is a bit more powerful / flexible than (2) and also less of a hassle to implement for us (thus, a good one to be tackled first).

[2022-06-14 10:25] ch1bo commented on #199
In a discussion I had with @mchakravarty we touched on the fact that it would also be possible to directly `open` a head in a single transaction and do all commits incrementally after. That might lead to congestion on the state output (it's like sequential commits), but simplifies some other use cases?

[2022-06-14 11:11] ch1bo commented on #393
Would this be done similarly to #370 and the validator would run on a hypothetical fanout of the resulting `utxo' = applyTx utxo tx`?

[2022-06-14 11:31] KtorZ commented on #393
That's how I imagine it so far indeed.

[2022-06-15 10:46] mchakravarty commented on #393
I still don't understand what the purpose of such a script would be and how exactly it would be applied.

[2022-06-15 13:16] #395 closed, assigned to nobody

[2022-06-17 07:44] ghost commented on #388
We have been trying to reproduce this after fixing #395 and we are unable to do so: we can correctly open/fanout a head within the demo using latest master's images (built from source tree).

[2022-06-17 07:46] ghost commented on #388
@azaretsky Could you try with latest master? Doing a `docker-compose --profile tui build` in the `demo/` directory.

[2022-06-17 15:00] azaretsky commented on #388
Still the same failure along with the large negative value for remaining contestation period (`-655477168.3246627`). I can provide the logs, but they look the same.

[2022-06-20 08:13] ch1bo commented on #390
@nazrhom @KtorZ To extend on :point_up:. While we use the same key types (Ed25519), we use different on-disk formats. The `cardano` ones can be generated using the `cardano-cli address key-gen`. Generating `hydra` signing (and especially matching verification keys) is bit trickier. For starters you could just use the alice, bob and carol identities of the `demo/` and we'll (hopefully soon) create

[2022-06-20 19:11] ghost commented on #388
Turns out this was caused by the `major` field of `genesis-shelley.json` being set to 0: It should be 6.

[2022-06-20 19:11] #388 closed, assigned to nobody

[2022-06-21 13:57] ch1bo opened #400 "Switch to babbage era"
## Why

The vasil hard fork is around the corner and it will enable the `Babbage` era. The `hydra-node` is targeting only a single era at a time and currently expects `Alonzo` blocks and transactions. This means, that the `hydra-node` will likely not work on the testnet/mainnet once they forked to `Babbage` anymore.

## What

We want to support the Babbage era. Prior work has been performed in spi

[2022-06-21 16:19] ch1bo commented on #199
Incremental decommits may be very interesting to oracle use cases, where the resulting data is getting decomitted upon consumption.

[2022-06-24 11:23] ch1bo opened #402 "Spike: Support Marlowe's spike"
## Why
* streamline, simplify, enable open-source contributions
* that for, a potential IO internal user: Marlowe will be a guest and evaluate Hydra as a potential puzzle piece in running Marlowe contracts more efficiently
* we want them to have experience and also ensure discovered things are to the benefit of future contributors

## What
* As a first step the Marlowe will

  - explore the reposi

[2022-06-24 14:38] ch1bo opened #404 "Add CONTRIBUTING.md guidelines"
## What should go in it
* commenting/supporting tickets on the roadmap
* coding guidelines, style guide
* basic build & test instructions
  + more detailed, package specific things could go into individual `README.md` files in the directory structure (e.g. how to benchmark `hydra-cluster`)
* ...

## References
- Inner source "template": https://patterns.innersourcecommons.org/appendix/extras/contr

[2022-06-28 08:15] ch1bo commented on #380
Another idea by @KtorZ is to use the sub-protocol negotiation in the WebSocket standard.

[2022-06-28 10:34] ch1bo commented on #191
Running a `hydra-node` which expects `Babbage` era on the chain layer against an `Alonzo` testnet produces this error:

[code]

[2022-06-28 10:35] ch1bo opened #406 "Rebase babbage-preview and make everything compile (mark failing tests as pending)"

[2022-06-29 11:00] ch1bo commented on #191
An interesting thread in that direction can be found here: https://input-output-rnd.slack.com/archives/C21UF2WVC/p1656494873725559 (ask @ch1bo for details)

The gist:
![image](https://user-images.githubusercontent.com/2621189/176421029-32a31d45-e67d-4bb5-8588-748484554167.png)
i.e. authorizing a governance output to enumerate the target (V2) script hashes in the datum and allow re-spending script

[2022-07-01 07:52] ch1bo commented on #375
Closed by #391, we have identified some follow ups in sub-tasks to #194

[2022-07-01 07:52] #375 closed, assigned to nobody

[2022-07-01 09:09] #404 closed, assigned to nobody

[2022-07-05 09:09] paluh commented on #402
Hi @ch1bo,

thanks a lot for the nice intro and for the above clear commitment ;-)

We are starting to scaffold something here: https://github.com/input-output-hk/marlowe-hydra-poc

This week we are going to migrate parts of this ticket to our project. The rest of the colab could be done using usual issue / PR flows and other communication channels as you suggested above.
Should we close this tick

[2022-07-05 11:01] ch1bo commented on #402
Hi @paluh

great to see you getting started! I think we should keep this ticket open for the first of your spikes and do the "reflect what was helpful and/or missing" part on our end. I expect that you guys will be time boxing the exploration and hacking spike on your end? That would allow for a definition of done on this one and not have it be the never-ending story ;)

[2022-07-05 12:17] ch1bo opened #410 "Include Direct chain component in the Model-based testing stack"
Using the same model as #375, but with the `Hydra.Chain.Direct` transaction construction and observation interleaved when performing the state transitions. This should include transaction validation (phase 1 + 2) in a Cardano ledger, basically simulating the cardano blockchain.

[2022-07-05 12:22] ch1bo commented on #377
Won't do in favor of the alternative approach using quickcheck-dynamic directly, where #410 is the follow-up.

[2022-07-05 12:22] #377 closed, assigned to nobody

[2022-07-05 12:33] ghost commented on #397
Random thoughts: Create scripts outputs in the `InitTx`, tied to a "lock" script that ensures the outputs can only be consumed by an `Abort` or `FanOut` transaction.

[2022-07-05 12:47] #372 closed, assigned to nobody

[2022-07-05 14:01] #394 closed, assigned to nobody

[2022-07-05 14:02] #393 closed, assigned to nobody

[2022-07-05 14:02] #392 closed, assigned to nobody

[2022-07-05 14:04] #389 closed, assigned to nobody

[2022-07-05 14:05] #381 closed, assigned to nobody

[2022-07-05 14:17] ch1bo commented on #390
Is there any concrete action to take on this issue? If not, I would like to close this.

[2022-07-05 14:18] ch1bo commented on #323
@btbf in case you missed it, we have a translatable documentation / user manual / website now and are happy to accept any translation contributions :)

[2022-07-05 14:18] #323 closed, assigned to nobody

[2022-07-06 14:20] nazrhom commented on #390
@KtorZ @ch1bo thanks for the detailed answers, happy for this to be closed as the question I had has been addressed.

[2022-07-06 14:20] #390 closed, assigned to nobody

[2022-07-06 17:57] btbf commented on #323
@ch1bo
I Just cloned git to my server and the translation environment is ready.
I would be delighted to help you with the project :)

[2022-07-07 06:04] ch1bo opened #420 "Use new/updated transaction sequence generators from the `cardano-ledger`"

[2022-07-07 06:04] ch1bo opened #421 "Change hydra-cluster tests and benchmarks to stake pool nodes"
Before, in TPraos, we could use the overlay BFT schedule. That is now gone with Ouroboros Praos and we need to register/use stake pools in all our tests.

[2022-07-07 13:59] ghost commented on #420
Changes done in #408 but build is red

[2022-07-07 13:59] #420 closed, assigned to nobody

[2022-07-08 05:23] ch1bo commented on #406
Kicked off in #408, we have decided to do the remainder of work also on that branch/PR

[2022-07-08 05:23] #406 closed, assigned to ch1bo

[2022-07-08 09:06] #421 closed, assigned to KtorZ

[2022-07-08 10:28] #400 closed, assigned to nobody

[2022-07-11 15:38] ch1bo commented on #387
Decided to not make the faucet key configurable, but to use the well-known `hydra-cluster/config/credentials/faucet.sk` which needs to be funded accordingly of course.

[2022-07-12 14:03] ch1bo commented on #397
We discussed the approach and agree that we want to focus on the essentials right now:
- no scanning for addresses or checking whether "synched enough"
- no validation of the scripts

just "blindly" use the passed `TxId`

[2022-07-13 12:29] ch1bo opened #425 "Refactor Head.Logic and document individual event processing steps in prose"
Splitting the main `update` into functions and haddock them individually for easy consumption by all readers.

This has been started, but dropped because of being too formal / cryptic over here: https://github.com/input-output-hk/hydra-poc/pull/346

In this ticket, we want to revisit this, but document it in prose!

So the goal is, to have the BIG `Hydra.HeadLogic.update` function broken down into

[2022-07-19 17:13] ch1bo commented on #196
Came across this limitation when trying to fix when `ReadyToFanout` messages are sent out. Our internal notion of slots (or time in general) is lacking and it's not easy to find the right time when the `fanoutTx` could be posted (e.g. in e2e tests).

If we track progress of time (in slots) on every seen block, we could also replace the `Delay` on some wall clock time for `ShouldPostFanout` with a

[2022-07-20 14:22] ch1bo opened #434 "TUI remaining contestation period display is broken"
90 seconds are shown as 1m 90s

[2022-07-21 14:01] ch1bo opened #435 "Walk-through and help rewrite new protocol spec with researchers"
## Why

The formalism used in the paper is not capturing well the nature of on-chain verification within Cardano. For example, validators do not produce values, but merely check existing ones. Hence, the Hydra researchers are drafting up new specification in a slightly different formalism to more faithfully capture the checks to be done on-chain.

## What

As they have created a first draft here (

[2022-07-21 14:07] ch1bo commented on #435
Gaps so far

* SM cid checks - how would we be sure an NFT is indeed an ST? pack it in datum instead?
* ST in output value - seems not be checked right now
* T_max very big on close/contest (close, but only have deadline in 10y)

[2022-07-21 21:34] ffakenz commented on #434
According to [formatTime docs](https://hackage.haskell.org/package/time-1.13/docs/Data-Time-Format.html#v:formatTime)
uppercase and lowercase have different meanings:
[code]

[2022-07-22 08:12] ch1bo opened #439 "AcquireFailurePointTooOld when --start-chain-from point is past k"
We might have a bigger problem on our strategy with `--start-chain-from`: Today, we wanted to start a hydra node from the beginning of the devnet to recover/see an already open head (after having an exception, other problem) using `--start-chain-from` and we got an `AcquireFailurePointTooOld` failure from the node. Searching from this in the network/consensus codebase yields: [https://github.com/i

[2022-07-25 14:15] #434 closed, assigned to ffakenz

[2022-07-26 07:10] #387 closed, assigned to ch1bo

[2022-07-30 13:12] ffakenz commented on #378
I think i found the problem:
According to the test description, the property failed for inputs `""` and `"\NUL"`

so the question is: can we `generateSigningKey` using an empty seed? 🤔

[code]

the short answer for me to this question is `no` if we want to maintain the pure signature,
else we can add some `randomness` to the function thus changing the signature to IO.

so my proposal is to fix the

[2022-07-30 17:51] ffakenz commented on #378
Another interesting behavior I found about `generateSigningKey` is that it also returns the same output for seeds exceeding the max size if they are equal up to the exceeding character.

[code]

so the question is: can we `generateSigningKey` using seeds exceeding max size? 🤔

Having that in mind feels tempting to not make this function total but rather partial to forbid this situations

wdyt?

[2022-08-01 07:01] ch1bo commented on #378
The padding is part of the `generateSigningKey` function and IMO it's handy to have. Also keeping it pure and not add random stuff to it is desirable.

The property right now is:

[code]

Which is of course affected if `seedB` is equal to the padded version of `seedA` or vice versa.

Maybe "unpadding" / trimming seeds would be a nice way forward? Or: incorporating the original length of the seed i

[2022-08-01 14:58] ch1bo commented on #435
Things we do differently right now (on top of the ones above)
* Check committed outputs are reimbursed on v_head instead of v_commit
  - individual checks would "collapse" if two identical TxOuts were committed and only one needs to be reimbursed to pass
* Validator can assume first output is v_head output (simplification)
* Snapshot number and utxo hash need not be in the redeemer on close/contes

[2022-08-02 10:34] ffakenz commented on #378
Incorporating the length of the seed into the "actual seed" works.
A more elegant solution, as discussed, would be to use the hash of the seed instead.
Opening PR to move forward with the above approach.

[2022-08-02 12:21] ch1bo opened #448 "Create updated specification for coordinated head protocol"
## Why
While implementing, we have evolved the "Simplified Head protocol" from the version in the [paper](https://eprint.iacr.org/2020/299.pdf) to an even more simplified form to something we would call the "Coordinated Head Protocol".

Hence, not all specified parts in the paper are relevant anymore. Also, the formalism used in the paper for the on-chain verification (OCV) part is actually mixing

[2022-08-02 12:30] ch1bo commented on #448
Created this to have less in #194 and allow for more concise definition of done. Still not fleshed out fully so that's why it's 🔴

[2022-08-04 10:17] #378 closed, assigned to ffakenz

[2022-08-05 09:31] ch1bo opened #452 "Align implementation with HeadV1 protocol specification"
## Why

In the work stream to mature the Hydra Head protocol enough to aim for a mainnet release, we have been [running our implementation against a formal model](https://github.com/input-output-hk/hydra-poc/issues/194) and [created an updated specifiction](https://github.com/input-output-hk/hydra-poc/issues/448) (because the protocol evolved since publishing the peer-reviewed paper).

These prior

[2022-08-05 09:32] ch1bo commented on #452
Marked 🔴 as not yet discussed. Depends on outcomes of #194 #448.

[2022-08-05 09:36] ch1bo commented on #366
I'd say this is pretty well-defined. Shall we make it a 💬 feature item @KtorZ? Anything to add since we discussed this also as a solution to some of our problems in handling time (ADR in #450)?

[2022-08-05 11:36] #425 closed, assigned to ffakenz

[2022-08-05 11:48] ch1bo commented on #435
@KtorZ @ffakenz I would say this subtask of #448 can be called done as we have a first draft of the on-chain spec + above list of currently identified gaps, which we also collect in the overall follow-up story #452

[2022-08-05 11:48] #435 closed, assigned to ch1bo

[2022-08-11 11:35] ffakenz opened #456 "Add "last updated at" (or similar) to each page of the user guide. Bonus: find a way to also show when a page was "last translated at"."

[2022-08-12 19:30] ffakenz opened #458 "Do not log entire transactions but a summary of them (especially those containing scripts)."
## Why

* Logs are getting big
* There is redundant information in the logs - which?
* Once submitted, we do not need the actual transaction anymore as L1 transactions would be evident on the blockchain anyways

## What

* Log L1 transactions only once when constructing/submitting
* Use transaction ids after that, e.g. when observing

[2022-08-16 14:31] ch1bo commented on #189
Use hydraw instead for this as a more simpler surface to keep hosted / running?

[2022-08-22 10:50] ch1bo commented on #240
We have had a discussion on the configurable peers and while we developed it to a point where we could have merged something like this, the overall UX and goal of the story was not where @abailly and me felt it should be going.

It's a bit sad, but we decided to park this for now. Keep it on a branch, demo it, but not merge and release it on 0.7.0.

Some details on what was lacking in the approach

[2022-08-22 10:50] #240 closed, assigned to nobody

[2022-08-22 14:18] ch1bo commented on #397
Added changelog entries and some remaining fixes in #459

[2022-08-22 14:18] #397 closed, assigned to nobody

[2022-08-23 12:31] ch1bo opened #466 "Upgrade to quickcheck-dynamic 1.0.0 from hackage"

[2022-08-23 12:33] ch1bo opened #467 "Express conflict-free liveness property using Dynamic Logic"

[2022-08-24 06:10] ghost opened #468 "Documentation checker job fails every morning"
Documentation job on GitHub actions fails every morning which seems to be caused by
[code]

[2022-08-25 08:18] ghost opened #469 "Running the docker demo does not work out-of-the-box"
## Context & versions

Version: 0.7.0

## Steps to reproduce

Following the demo documentation page: https://hydra.family/head-protocol/docs/getting-started/demo/with-docker
The `seed-devnet.sh` script fails with:

## Actual behavior

[code]
## Expected behavior

expect ` HYDRA_SCRIPTS_TX_ID=xxxx `  with some transaction id

[2022-08-25 08:31] #456 closed, assigned to ffakenz

[2022-08-25 17:43] ch1bo commented on #469
@abailly-iohk I may have fixed this issue when revamping the demo instructions today (in course of merging #449). See #471

[2022-08-26 05:51] ch1bo commented on #468
It's likely running into these problems because of the sheer number of broken links. Most seem to be coming from broken haddock links, e.g.

[code]

So maybe adding `file://` or `https://hydra.family/head-protocol/haddock` to the `ignore-patterns` of the action could help filter them out? We could/should make sure these documentation references are consistent in other CI jobs.

[2022-08-26 10:10] ch1bo commented on #466
We kind of bailed the hackage way of updating as we hit non-compatibilities upstream (maybe would need some added constraints to build `plutus` against latest hackage etc.) and instead just bumped the `source-repository-package` entry.

[2022-08-26 10:10] #466 closed, assigned to nobody

[2022-08-29 08:49] ch1bo commented on #402
After @paluh and @yveshauser had the opportunity working with Hydra from Marlowe, they have shared what resources they found helpful, outdated or missing. I am listing them here non-prioritized and with some ideas on follow-up actions:

#### helpful
- The website is great and really helpful to do the first steps and run the demo application etc.
- Clear codebase with clear namespaces and sub packa

[2022-08-29 08:49] #402 closed, assigned to nobody

[2022-08-29 09:47] #469 closed, assigned to nobody

[2022-08-30 09:35] ch1bo commented on #189
Discovered improvement:
- [ ] Use text envelopes like cardano keys to make it easy to distinguish from any random bytes
- [x] Provide a command line tool to generate hydra keys

[2022-08-30 11:38] #458 closed, assigned to ffakenz

[2022-08-30 14:16] JaredCorduan commented on #195
From Shelley onward, the wire format for transactions has been backward compatible. We would have to have a very strong reason to abandon this commitment.

absolutely! let me know how/when I can help.

[2022-08-31 05:08] ch1bo commented on #195
Answering this open question was what I meant, but appreciate it. Thanks!

[2022-09-02 06:56] ghost opened #477 "Make marker datum customisable"
## Why

* Fuelling wallet internal to the hydra-node requires creation of a UTxO with a marker datum which the wallet can then pick and use to pay for transactions fees
* This marker datum is hardcoded hence is the same for everyone
* Extracting the value of this datum from the code is a bit annoying, which can hinder efforts to script the deployment of nodes and creation of heads

## What

Make t

[2022-09-02 07:18] #477 closed, assigned to nobody

[2022-09-05 11:55] ghost commented on #468
The problem comes from the Haddock documentation which creates link that do not exist, either to source files as `file://` or to external packages.

[2022-09-06 09:51] ch1bo commented on #189
More ideas:
- [ ] Extend the TUI (as it is already available on the target) to prepare commit UTxOs and mark UTxOs as fuel
- [ ] Display a HeadId to the TUI (could be the actual policy id)

[2022-09-06 10:15] ch1bo commented on #189
As @abailly-iohk also mentioned
- [ ] Have the TUI a not allow multiple submissions of `Close` etc. via a client-side pending status.

[2022-09-07 09:26] ch1bo commented on #366
To improve the UX for the `fanout` transaction, we should
* keep & retry submission of transactions which are NOT YET valid
* trip transactions which are not valid ANYMORE

[2022-09-08 20:23] parenthetical opened #484 "Hydra TUI errors are only visible for a moment"
## Context & versions
Running https://github.com/obsidiansystems/hydra-poc/commit/617ce45f7eec9496970355a60d3b353f46b012ef I managed to get the demo in a state where a new head couldn't be started. However, the error message explaining why was only visible for a brief moment.

## Steps to reproduce
1. I started the demo with `nix-shell demo` and `run-tmux`.
2. IIRC I opened and closed a head with

[2022-09-08 21:24] ch1bo commented on #484
Thanks for reporting this, it's something I noticed this week as well. For a quick workaround you can connect a websocket client in addition to the same port and received errors are shown.

[2022-09-09 07:46] ch1bo commented on #187
One thing to consider: When we restore from persistence, we would need to know at what `ChainPoint` we have had been before and resynchronize with the node from that point onward. Otherwise, we might "miss" chain events?

[2022-09-09 07:49] ch1bo commented on #187
Also, rollbacks:

Can it be that we have been temporarily on a fork, stop the node and restore it wanting to synchronize from the same `ChainPoint`. The cardano-node, in the meantime, has been rolled-back off the fork. When we re-connect to it.. would we see a rollback or no intersection? How to handle this? With/without storing the chain state?

Furthermore, if we have no intersection, we would n

[2022-09-09 14:52] ch1bo commented on #215
FWIW, we drew this a long time ago in [this use case diagram](http://www.plantuml.com/plantuml/uml/bL4zJoCn4EtzAqOfhjihN5vnYeY4GaE4De5wi2SR2wyDzXWI8VuxkxOsU155QAnvUX_pv5b6ni2fjyBIde4z1DCT6BG9fDXu9r2n3x2oXXm3Hb3Y6TKJTWJhamxOjAV8rCEx04YH54Q2nOqp36j2lHWTPa0rk_9zRpXJAeypqlf8NrurGl5ntlc0rXBFjrqdfmjHGlS3hlahjEWKmHzeJUTWUyogECnLy0g3HkURMwzf7j-cnw7ZsPPHPMnzJysbjMGjk4iKJh3R7ZUPVncXlAou_5xWT_L7kr3GDFzpgsgKe

[2022-09-12 10:19] ghost opened #485 "Failing transaction gets resubmitted forever in the Head"
## Context & versions

* We have a connected 2 hydra-nodes running Hydraw
* We managed to have a Head open and started drawing but suddenly it stopped when I clicked too quickly

## Steps to reproduce

1. Run 2 hydra nodes + hydraw
2. Make sure the nodes are connected
3. Start a head
4. Load the Hydraw UI
5. Click frantically
6. Check the hydra-node's logs

## Actual behavior

The hydra node keeps

[2022-09-13 11:04] ghost opened #487 "Hydra node cannot handle time conversion once 2k blocks have passed"
## Context & versions

This is a follow-up issue that surfaced as we worked on cleaning up contestation deadline in #483

## Steps to reproduce

_Note these are all very abstract, we know there is a bug but I did not actually observed it_

1. spin up a hydra-node
2. open a head
3. wait for 2k blocks to pass on-chain
4. try to compute contestation period by closing the head

## Actual behavior

Nod

[2022-09-13 11:23] ghost commented on #487
This is a follow-up to #483.

Solutions envisioned:
* Short-term: Do not allow heads to live longer than 2k
* Assume no upper-bound on current Era's time parameters
* Requery EraHistory upon every time computation

[2022-09-15 07:33] ffakenz opened #489 "Memory leak in CoordinatedHeadState"
## Context
seen txs can flood with non-applicable txs, because we never reset them.

[2022-09-15 10:18] #485 closed, assigned to nobody

[2022-09-15 11:48] ghost opened #492 "Flaky ResourceExhausted in hydra-cluster test"
https://github.com/input-output-hk/hydra-poc/actions/runs/3053589859/jobs/4924406067#step:8:102

[2022-09-16 08:42] ffakenz opened #495 "Add glossary page"
Collect & build up a glossary of terms.

[2022-09-19 08:07] ch1bo commented on #487
This is because the time handle queried [here](https://github.com/input-output-hk/hydra-poc/blob/719b0cd600de29315a25b2f86be1afb09a955288/hydra-node/src/Hydra/Chain/Direct.hs#L199-L202) becomes to old and we should have addressed this comment: https://github.com/input-output-hk/hydra-poc/pull/483#discussion_r967617859.

[2022-09-19 16:43] v0d1ch opened #499 "Add note about ipv6 addresses in the docs"

[2022-09-20 08:01] ch1bo commented on #366
We recently added (#493) `getUTxO` to the `Chain` interface to avoid a race-condition which could be solved by proper re-submission as well. We should review whether the `getUTxO` is still needed after implementing this feature.

[2022-09-20 09:16] ch1bo commented on #487
We discussed the two approaches and decided to:

* Do the morally right thing first by querying the time handle on each block rolled forward using a `MonadTimeHandle` type class to abstract over `IO`/`IOSim`.
* If this is too expensive or not possible, we draw the line there and fall back to use `unsafeExtendSafeZone`, possibly updating the `TimeHandle` to fetch once and deliver current time/slot

[2022-09-20 12:56] ch1bo opened #502 "Interview the internal auditor to see what kind of specification they will require to audit the protocol logic"

[2022-09-20 15:23] parenthetical commented on #215
This feature would be very useful to us for our [work](https://github.com/obsidiansystems/hydra-pay) on a Hydra Head-as-a-Service platform, for the reasons outlined in the motivation. It would greatly reduce the needed trust in the platform provider and improve robustness :)

[2022-09-20 22:21] Yasuke commented on #199
The use case of Incremental De/Commit really adds so much added value to many of the Use Cases that Hydra seeks solve for end-users.

From an end-users perspective, with all of the potential Heads that will be running, they will be locking funds in various places. A stake pool is well understood way of locking in funds, but with Heads, and the varied use cases, they may be more hesitant or unable

[2022-09-21 12:21] #499 closed, assigned to v0d1ch

[2022-09-21 13:07] ch1bo commented on #215
@parenthetical Does sound the implementation idea reasonable to you?

As you might have seen we have the [Commit](https://hydra.family/head-protocol/api-reference) API input and this feature would change it's semantics to not actually do commit a UTxO, but return a draft transaction which can be used to do so.

Furthermore, do you think it makes sense to keep both ways? i.e. be able to commit some

[2022-09-21 14:07] parenthetical commented on #215
@ch1bo the API with the draft transaction sounds good to me. Maybe this could even be done in one step together with `Init` to save on a round trip?

I can't think of a reason to keep both... Another process could always handle the commits for which the wallet key is needed, right?

Are there any other actions for which a Hydra node needs the external key?

[2022-09-22 16:45] ch1bo commented on #215
Hm. For the initiator, yes. But for the other parties, this will be a different workflow. Probably not worth it to account for two different workflows, especially in the client application.

Yes. Doing commits only external should be fine. Our end-to-end tests likely would use a cardano client (or the cli) to sign and submit the transaction then.

To clarify: External key == payment key owning UTx

[2022-09-23 08:41] ghost opened #504 "Publish hydra-cardano-api library on internal hackage"
* There is a need to improve and maintain cardano-api in order to make it easier for people to build Haskell apps on top of cardano
* Hydra already built an API that seems useful and interesting. Quviq is basing rework of ContractModel testing fwk on it and other teams expressed interest in upstreaming that API
* Doing it properly will require time
* Meanwhile, we can make it easier to consume thi

[2022-09-23 13:21] ch1bo opened #505 "Perform a first round of audit"
## Why
We want to get the Hydra code base audited by internal & external auditors to ensure increase the maturity of the codebase and our confidence in using it ultimately on mainnet.

## What
This item is about performing a first audit round with a team at IOG to find a first round of issues & verify whether our documentation / specification is suitable for consumption (related to #448)

## How
-

[2022-09-23 13:35] ch1bo commented on #502
From latest interaction
  + The new spec "looks simpler" than the paper. (Although not compared in detail I guess)
  + Would benefit from list of interactions / use cases
  + After chatting a bit, a state diagram explaining the interaction (individual API messages + side effects) with the hydra-node could help .. maybe also a dedicated architecture page.

[2022-09-23 14:48] #495 closed, assigned to ffakenz

[2022-09-26 07:05] ghost opened #508 "Flaky DirectChainSpec"
~~This is probably related to changes introduced by #493
 https://github.com/input-output-hk/hydra-poc/actions/runs/3118939669/jobs/5058573174#step:8:26~~

As we reverted the original PR, we see the original problems again: https://github.com/input-output-hk/hydra-poc/actions/runs/3137580007/jobs/5096648810

[2022-09-26 09:30] ch1bo commented on #508
Another example on `master`: https://github.com/input-output-hk/hydra-poc/actions/runs/3112051314

[2022-09-26 10:40] ch1bo opened #511 "Latest docker images are not that latest"
## Why

`latest` docker images built in CI and available publicly for download are the _latest released_ images, not the latest ones built by the CI from tip of master. This is not super helpful esp. in situations when one wants to test those images. Of course it's always possible to build locally those images but it's time consuming and inefficient.

## What

- Always push built images from `mast

[2022-09-27 10:51] ch1bo commented on #189
More things we stumbled over today:
- [ ] Hard to diagnose why head initialization was not shown: Should not discard `InitObservation` when some keys don't match and have higher-level logic log & ignore instead https://github.com/input-output-hk/hydra-poc/blob/c7c28d6618877ba8b64f244aefb47708586fd391/hydra-node/src/Hydra/Chain/Direct/Tx.hs#L559
- [ ] Optimistic removal of `UTxO` from the `TinyWall

[2022-09-27 12:17] ch1bo opened #518 "Improve user experience following hydraw experiment"
## Why
When actually using our own stuff in #189 we stumbled upon many things. Not all of them need to be addressed right now, but we want to put in one round of effort to improve.

## What
We might want to split this into multiple tasks, but this is what we collected these things so far:
- [x] Have the TUI to not allow multiple transaction submissions and show a client-side pending status. https:

[2022-09-27 13:27] pgrange commented on #518
Lot of time taken to find each others IPs:
* [ ] have some sort of index or something to find peers from their cardano verification key for instance
* [ ] share peers connection info between peers so that we can find each other quicker

We had several heads initiated in parallel with not exactly the same peers, probably because we had different configuration in each of our nodes:
* [ ] we should s

[2022-09-27 16:32] pgrange commented on #366
Regarding the trimming of the transaction from the pending set, would that be enough to manage transactions lost because of forks? Would it make sense to wait for a given number of blocks before trimming the transaction for more security?

Regarding the re-submit, it's not clear to me if there is some sort of pool of pending transactions in Cardano like it exists in Bitcoin. If so, what if our tra

[2022-09-27 16:40] ch1bo commented on #518
@pgrange incorporated your feedback into the issue, we ought to prioritize and filter it a bit. Feel free to move your list to the logbook or just keep it here.

[2022-09-27 16:40] #189 closed, assigned to nobody

[2022-09-27 17:11] ch1bo commented on #366
It probably won't, but it's not the purpose of this story to be resistant to rollbacks. It's merely handling the realistic chance that our node had unfriendly peers/relays which ended up not diffusing the transaction robustly into a block. For handling rollbacks we have a dirt-road solution (not crashing), where the cobblestone road is in #185.

There is a mempool in every node, so it might be stu

[2022-09-28 07:16] ch1bo commented on #508
We reverted #493 and now the original issues are back. This issue is now about fixing the DirectChain flakiness again.

[2022-09-28 07:21] #484 closed, assigned to ffakenz

[2022-09-28 07:24] pgrange commented on #518
I've logged mode details in the logbook

[2022-09-28 13:53] #487 closed, assigned to pgrange, v0d1ch, ch1bo

[2022-09-28 18:04] #467 closed, assigned to ffakenz

[2022-09-29 07:16] ch1bo commented on #492
Let's see whether retrying on `ResourceExhausted` (#512) helps.

[2022-09-29 07:16] #492 closed, assigned to ffakenz

[2022-09-29 08:11] pgrange commented on #518
Also, when I was trying to setup my own personal docker image, installing cardano-node was straightforward thanks the statically linked binaries available at https://hydra.iohk.io/build/16338142/download/1/cardano-node-1.35.0-linux.tar.gz

I believe it would help if we shared a static binary to the community like what is done with [cardano-node](https://developers.cardano.org/docs/get-started/inst

[2022-09-29 17:05] ghost commented on #366
Summary of convo on slack (https://input-output-rnd.slack.com/archives/CR599HMFX/p1664438601525909):
* When a tx is accepted in the mempool of a cardano-node, it will end up being included in a block except in the folllowing cases:
     * The tx becomes invalid with respect to the current ledger state of the node -> it's dropped from the mempool (silently?)
     * The tx validity upper bound is ex

[2022-09-30 05:15] ch1bo commented on #366
We tried this yesterday by just submitting every transaction twice. It turns out that the second submission fails with a ledger error indicating the `TxIn` is unknown (already spent by the first tx). So our observation tells otherwise, the node-to-client tx submission is **not** indempotent and we would need to handle these errors as being expected.

Anyhow, I concur in that we might only want to

[2022-09-30 09:51] ffakenz commented on #508
Attached cardano-node.log file after failed execution of DirectChainSpec ('can commit')

The logs show a tx txid: **8fbd4dc0**) to be included in the mempool at **slot 43**.

The spec failed while attempting to post a commit tx using the same txid but at **slot 42**.

By tracing every block observed by the `TinyWallet` we see the txid (**8fbd4dc0**) is never included (because it will be at **slot

[2022-09-30 10:59] ghost commented on #508
@ffakenz Actually we need both logs: The one from hydra-node and the one for cardano-node if we want to understand why the former does not see the blocks at the right time.

[2022-09-30 13:01] ffakenz commented on #508
Attaching both file logs after failed execution of DirectChainSpec ('can commit')
- [cardano-node.log](https://github.com/input-output-hk/hydra-poc/files/9684352/cardano-node.log)
  + shows the tx {txid: 8fbd4dc0} to be included in the mempool at slot 40 (after `TraceAdoptedBlock` 39).
- [hydra-node.log](https://github.com/input-output-hk/hydra-poc/files/9684353/hydra-node.log)
  + shows the commi

[2022-09-30 13:53] ghost commented on #508
* From the logs we can see the block including the commit tx was forged at slot 40
* The `seedFaucet` function checks it can see the UTxO by querying the node
* I suspect `queryUTxO` checks the node's ledger state (eg. mempool) and does not wait for the block to be forged
* So when we try to post the commit, at slot 39, the block has not been observed yet by the wallet even though the client has "

[2022-10-03 10:59] #508 closed, assigned to ffakenz

[2022-10-03 12:39] eyeinsky commented on #158
(I'm from plutus-tools team)

While using cardano-testnet to run an integration test I got the ["pokeSockAddr: path is too long" error](https://hydra.iohk.io/build/19720430/nixlog/6), then tried to fix it with the idea from above: [force darwin to use `/tmp`](https://github.com/input-output-hk/plutus-apps/pull/714/commits/dd14e3291ec572e2a06d679128901e41742c7543) as the temporary folder. While thi

[2022-10-03 16:36] ch1bo commented on #331
Sounds like the race condition issues we fixed recently and we have not observed this in a while. Closing this.

[2022-10-03 16:36] #331 closed, assigned to nobody

[2022-10-04 08:09] ch1bo opened #529 "Log and send client output when some keys don't match"
## Why

It's very hard to diagnose when a Head initialization was not picked up by one of the hydra-nodes. More specifically, the hydra client does not report anything at all and the hydra-node logs are also not very conclusive. For example, when some keys are not configured correctly there is not even an `OnInitTx` observation in the logs, just some blocks received.

## What

Even when we have no

[2022-10-04 08:29] ch1bo opened #530 "Use text envelopes for hydra keys"
## Why

To make them easy to distinguish from any random bytes.

## What
Analagous to cardano keys, the hydra keys can use text envelopes to make them easier to handle. We can leverage the `cardano-api` utilities for that, now that we have #398.

## How

- [ ] Use the cardano-api Text envelopes.
- [ ] Update changelog (this is a breaking change).
- [ ] Make sure all test/bench usage sites are good

[2022-10-04 12:20] pgrange commented on #366
We close the ticket as this is not something that would make sense with our current understanding of cardano-node.
We should improve feedbacks on chain events and errors to the user. See #531

[2022-10-04 12:23] pgrange opened #531 "Better error reporting in the TUI when transaction posting fails on chain"
Problem: When a tx submission fails it's not clear why because the error messages are obscure/cryptic/not visible
We cannot remember exactly what the problem was initially so we need to make sure we clarify the problem

Goal: We want the node to provide better error reporting when a L1 transaction posting fails (_not when it's not observed_) immediately, possibly giving a human-understandable mess

[2022-10-04 12:25] #366 closed, assigned to nobody

[2022-10-05 08:38] ch1bo opened #535 "Flaky ModelSpec"
The `ModelSpec` is failing on some trace executions, leading to a flaky CI:

https://github.com/input-output-hk/hydra-poc/actions/runs/3188268110/jobs/5200728011

Last observed on commit: https://github.com/input-output-hk/hydra-poc/commit/2d8a6f082ccd8bbbacc5cc3a0d4b715694f6d024

[code]

[2022-10-05 15:05] v0d1ch opened #538 "The ping hostnames are overlapping"
## Why

As a user I want to know who is connected to my node. Actually, I would want to know to whom my node is connected (but that is another story).

It's confusing that the local host name is shown in the TUI when someone connects to us. Especially because the default configuration is `0.0.0.0:5001` and that will yield only a single entry in the TUI, because all the `PeerConnected` messages hav

[2022-10-06 08:17] ffakenz commented on #529
By applying this change, now the misconfigured party can not init a head with others but observes others' initializations.
The problem is that after this observation we can join and open and participate with the initialized head.

A better design would be to keep others' observations but don not be able to join and open a head if any party is misconfigured.

Possibly we display an error in this si

[2022-10-06 11:21] ch1bo commented on #511
Re-open as the `push` predicate did not push on a `master` build.

[2022-10-07 08:12] ch1bo opened #541 "Implement ADR18 to have a single TVar representing the head state"
https://hydra.family/head-protocol/adr/18/

- [x] Implement it
- [x] Update the ADR to reflect latest code and design -> and make it accepted within the PR

[2022-10-10 14:09] ch1bo commented on #511
Seems to work now https://github.com/input-output-hk/hydra-poc/pkgs/container/hydra-node/45056966?tag=latest

[2022-10-10 14:09] #511 closed, assigned to ch1bo

[2022-10-10 14:27] ghost opened #542 "Some command-line arguments are undocumented on website"
Someone asked a question on discord about the `--start-chain-from` command-line argument which made me realise it was undocumented.
There's possibly other CLI options which are not documented here: https://hydra.family/head-protocol/docs/getting-started/quickstart#hydra-node-options

[2022-10-11 05:29] ghost commented on #535
Another instance: https://github.com/input-output-hk/hydra-poc/actions/runs/3224136770/jobs/5274943489#step:8:626
[code]

[2022-10-11 12:40] ch1bo opened #545 "Read/comment on HydraHeadV1 spec draft"
The latest document to rule them all deserves some review + comments:

https://docs.google.com/document/d/1XQ0C7Ko3Ifo5a4TOcW1fDT8gMYryB54PCEgOiFaAwGE/edit#

Let's all read and ask questions about that document through comments.

- [x] @ch1bo
- [x] @pgrange
- [x] @v0d1ch
- [x] @ffakenz

[2022-10-11 14:18] perturbing commented on #215
To add to this, right now, the committing of UTxO's is conflated with the readiness of the head participants. When all parties added something (it might be an empty utxo) they are marked as ready and the node automatically collects the UTxO's and opens the head.

It might happen due to transaction size limits that a party needs to commit twice. Furthermore, after this first commit, it should not b

[2022-10-11 14:42] #530 closed, assigned to v0d1ch

[2022-10-12 05:35] ghost commented on #468
I have disabled the workflow manually till we have some bandwidth available to fix this.

[2022-10-12 05:35] #468 closed, assigned to pgrange

[2022-10-12 06:02] ch1bo commented on #468
FYI @abailly-iohk there is a close as "not planned" status, which would've fitted here.

[2022-10-12 06:28] ghost commented on #468
Oh, my bad! Definitely better, I will make be more cautious next time

[2022-10-12 07:20] perturbing opened #548 "On the fuel-testnet.sh script usage"
I tried to use this script without a docker cardano node running. Does the following [function](https://github.com/input-output-hk/hydra-poc/blob/3b6dbec477e116ca945d0cdedf798098af16b7cb/sample-node-config/gcp/scripts/fuel-testnet.sh#L34) together with this [one](https://github.com/input-output-hk/hydra-poc/blob/3b6dbec477e116ca945d0cdedf798098af16b7cb/sample-node-config/gcp/scripts/fuel-testnet.s

[2022-10-12 07:50] perturbing commented on #370
To add to this discussion, as @abailly-iohk mentioned, since participants know each other, there is more trust than on the layer 1. That said, if all parties commit the same amount to the head as collateral (e.g. bigger than the value that is transferred in the head), no party has the incentive to close a head that cannot fan out. This leverages the mutual assured destruction (MAD) principle.

Ano

[2022-10-12 12:01] KtorZ commented on #366
Just to clarify, this ticket was originally created in response to specifically that case:

The reason why a fork could happen is because of benign slot battles, or because of an actual attack conducted by one of the head participant (trying for example to drop another participant contestation by creating a fork of the chain where this contestation doesn't exist). This is a plausible attack vector

[2022-10-12 13:30] pgrange commented on #548
Hi @perturbing ,

Thanks for pointing that out. I'm not 100% sure how much effort were put into this script for it to run in another context than docker-compose but my understanding of it is that, if you want to do so, you should define a `CCLI_CMD` variable in your environment.

Also, the expected parameters for this script are the testnet, the key and the amount of Lovelace you want to mark as f

[2022-10-12 13:31] ghost commented on #535
Looks like we have a clear picture of why these errors happen:
* We try to post a `NewTx` with a value of 0 and there's not corresponding UTxO because the 0 value gets "folded" into an empty asset map.
* This happens because we initially _commit_ a UTxO with a value of 0
* This happens because we _can_ generate 0 ADA values commits which does not make sense

[2022-10-12 13:43] pgrange commented on #548
Also, that could help to know that `<testnet>` should be the path to the configuration of the cardano network you want to use for your test.

The configurations can be found here: https://github.com/input-output-hk/cardano-configurations

For instance this is the directory containing the configuration for the preview network: https://github.com/input-output-hk/cardano-configurations/tree/master/ne

[2022-10-12 14:21] perturbing commented on #548
@pgrange, thank you for the clarification. I did an `export CCLI_CMD = $(which cardano-cli)` and then ran the script. Worked like a charm ;)

[2022-10-12 14:35] #542 closed, assigned to ffakenz

[2022-10-12 15:08] pgrange commented on #535
I've just created this branch with a Model test that proves that we are currently generating UTxO with 0 Ada (and so fails):
https://github.com/input-output-hk/hydra-poc/tree/flaky_model_spec

[code]

[2022-10-12 15:35] ghost opened #550 "Test results' details do not preserve lines"
From https://hydra.family/head-protocol/benchmarks/tests/hydra-node/hspec-results/#hydramodel:

The breakdown of test cases should each be on its own line for better legibility.

<img width="1432" alt="Screenshot 2022-10-12 at 17 33 32" src="https://user-images.githubusercontent.com/79840582/195386179-05554244-8df6-4c52-948c-d91fcf9e933a.png">

[2022-10-13 10:07] pgrange opened #553 "Improve the fueling of a node"
One important for a node before being able to participate in a head is to mark some UTxO as fuel.

I don't know if we would drop this fueling step in the future but, anyway, we should improve the user experience with this step.

## Why

It's important that we give an as best as possible user experience. We can see in #548 a user struggling on how to fuel their node.

Today, we have several fueling

[2022-10-13 10:10] pgrange commented on #548
Glad to know that @perturbing thank you for this feedback.

I've created issue #553 to think about how to give a better user experience regarding this fueling step so that people can do that in a more straightforward way in the future.

In the mean time, I close this particular issue as you've been able to work around the problem.

[2022-10-13 10:10] #548 closed, assigned to nobody

[2022-10-14 07:15] #550 closed, assigned to nobody

[2022-10-14 07:16] ghost commented on #535
Closed by #552 (hopefully)

[2022-10-14 07:24] ghost opened #555 "Make test names / descriptions less redundant and consistent"
With hspec, root of test trees are automatically named after the module they are part of hence there's no need for a toplevel `describe "..."` statement.

[2022-10-14 07:56] ch1bo commented on #553
Nice write-up of the situation!

[2022-10-14 08:04] ch1bo commented on #215
@perturbing Yes, having two commit transactions is not possible right now. It's also not possible in the basic Hydra Head protocol (as specified and implemented right now).

We even limit the number of UTxOs to commit to `1` right now to not run into limits when collecting & opening the Head. We may be able to increase this limit, but the bottleneck is the `collectCom` transaction.

Let's open ano

[2022-10-14 08:15] ch1bo commented on #535
So.. let's close this then until it re-appears.

[2022-10-14 08:15] #535 closed, assigned to pgrange

[2022-10-14 08:20] ghost commented on #555
Also adopted this: https://github.com/input-output-hk/hydra-poc/wiki/Coding-Standards#use-hspec-describe-for-context

[2022-10-14 15:18] #200 closed, assigned to nobody

[2022-10-17 11:45] pgrange opened #560 "Hydra node crashed after a fork"
## Context & versions

My hydra node was running a version around commit 979a5610

## Steps to reproduce

I can't reproduce right now. Here are the steps that I followed:
1. Start my node
2. let it run for several days
3. observer that it has crashed

## Actual behavior

The node crashed with the following message:
[code]

## Expected behavior
To not crash

## Extra Information

Looking at previou

[2022-10-17 12:03] pgrange commented on #560
Find attached more logs for the day in case it's useful

[2022-10-14.logs.last.txt](https://github.com/input-output-hk/hydra-poc/files/9800180/2022-10-14.logs.last.txt)

[2022-10-17 14:12] #538 closed, assigned to nobody

[2022-10-18 09:48] pgrange commented on #531
We should have given more details to this story.

We should try to open our head again to see if we stumble upon the issue again

See #366  for more context to this issue

[2022-10-18 09:55] pgrange opened #564 "Disallow initializing heads which will be too expensive to collect/abort (e.g. > 4 parties)."
See #518

We would like to check on hydra-node start if the user has configured the hydra-node with more than 4 peers and show an error.
Additionally we would like to check if the number of loaded cardano verification keys and hydra keys match.

[2022-10-18 12:36] ghost commented on #366
We realise we don't strictly need this to be secure (check https://hydra.family/head-protocol/core-concepts/behavior for a high-level overview and the paper for formal stuff)  *BUT* from a user experience perspective, not seeing a submitted tx after a while is problematic and should be reported.

[2022-10-18 12:42] ghost commented on #452
Marked amber as the list of gaps appears somewhat clearer (and solvable...)

[2022-10-19 15:37] pgrange opened #567 "Problem with the tui because of the way the docker image handles parameters"
## Context & versions

In the latest version of the docker image for the tui

## Steps to reproduce

Run `docker compose up tui` in one of our sample setups

## Actual behavior

We get an error about unknown or malformed parameters. This is due to the fact that the parameter are sent to `sh` instead of `hydra-tui`.

[2022-10-19 15:58] pgrange opened #568 "tag latest"
## Why
Problem with peers _blinking_. They connect/disconnect in a loop. We see deserialization errors in the logs. It happens we don't use the exact same latest version. Some docker build github action did not use the latest latest image but a not so latest one. Anyway, we should add some tag to our images to be sure about which version is running.

## What

Add a tag to the latest version that m

[2022-10-19 16:02] pgrange opened #569 "Help filter out logs"
## Why

It is hard to read through the logs as there are quite a lot of them and, depending on the situation, it can be hard to separate noise from information.

Since it's json stuff we should explore how to help filter out interesting logs more easily and, at least, give some advice in documentation.

## What

Explore how to filter out interesting logs more easily and share some advice in docume

[2022-10-19 16:03] ghost commented on #568
Here is what is done in Mithril for example: https://github.com/input-output-hk/mithril/blob/main/.github/workflows/ci.yml#L319

[2022-10-19 17:06] pgrange opened #570 "Problem when several fueled UTxOs"
In an experiment, my node was unable to initiate a head with a not enough funds error.
However I did have a fueled UTxO with enough found.
Maybe the problem came from the fact that I had a second fueled UTxO without enough funds.

I'm wondering if that might come from the selection of the fueled UTxO choosing the too small one.

## Context & versions

Using the latest version from October 19th.

H

[2022-10-20 07:10] ch1bo commented on #568
And this is what happens: https://github.com/input-output-hk/mithril/pkgs/container/mithril-aggregator/versions?filters%5Bversion_type%5D=tagged

I don't like the idea of tagging all versions. Rather add some metadata to the image to know where it's coming from?

Seems like we are already using labels:
https://github.com/input-output-hk/hydra-poc/actions/runs/3280369969/jobs/5401055197#step:5:47
h

[2022-10-20 07:25] ch1bo commented on #569
Besides using tools like `grep` and `jq`, there is also the `log-filter` executable in the `hydra-cluster` package. But I have never used it by myself. @abailly-iohk did create it.

[2022-10-20 08:51] #555 closed, assigned to nobody

[2022-10-20 09:27] pgrange commented on #553
While doing this, I also suggest we take a look at the other [squash-utxo](https://github.com/input-output-hk/hydra-poc/blob/5a6a6243989cee72e4aef3e5d25aa0023edcc0ff/testnets/squash-utxo.sh) script as it would probably be needed by a user at some point then they are playing with hydra.

[2022-10-20 09:40] #545 closed, assigned to nobody

[2022-10-20 10:01] ch1bo opened #571 "Log Options on startup"
In the past we sometimes resorted to inspect `/proc/.../cmdline` to check whether we have configured the `hydra-node` correctly.

We want to log the `RunOptions` to be clear on what options had been used.

[2022-10-20 10:29] ghost commented on #568
May I ask why?

[2022-10-20 12:51] pgrange commented on #568
@ch1bo being able to docker inspect would not have solved my problem at the time. But my description in the issue is not very clear about that.

I actually have a [CI job](https://github.com/pgrange/hydra_setup/blob/main/Dockerfile#L23) that depends on our hydra images. And this CI job has been _intoxicated_ in a way with using a _latests_ image that was not the actual _latest_ image but one from

[2022-10-20 13:09] ghost commented on #568
I do agree keeping all those images around does not make much sense, good catch!
Having master-tagged images is mostly interesting in between releases I think.

[2022-10-20 13:48] pgrange commented on #568
Well... anyway, even if we don't tag them, they keep existing. They're just less visible: https://github.com/input-output-hk/hydra-poc/pkgs/container/hydra-node/versions

[2022-10-20 15:12] ch1bo commented on #568
Okay. That addresses my concern of creating garbage :)

How would that job consume git revision-based tags?

---

If we go with a docker tag on every build from `master`, I would propose `git describe`. It produces human-readable, but definite labels, e.g. `0.7.0-664-ga377fb1cc` which means `664` commits ahead of `0.7.0` with short commit sha `ga377fb1cc`

[2022-10-20 15:16] pgrange commented on #568
Here is my proposal:

1. Go the mithril way and label all published docker images main-\<git describe\>
2. Reserve the `latest` label to stable, released versions so that we avoid bad surprises for our users
3. Mark the latest, not released image `unstable`

If, at some point, down the road, we fill like we're overloaded with the noise of having too much labeled images in our registry, setup a _pu

[2022-10-20 15:38] pgrange commented on #568
Not sure yet. First version will be stupid simple with manual update of the _supported_ hydra version.

[2022-10-21 09:36] ch1bo commented on #568
Sounds like having an `unstable` (on latest master) vs. `latest` (on latest released) is what you actually need?

I'm not gonna start a fight about tagging all built images with some git hash, but it's still unclear to me why it is required? Every image contains already metadata making it traceable from where it was built. What's the use case for the tags?

[2022-10-21 11:34] ghost commented on #568
It's one step closer to use: Rather than querying an image's metadata to know whether or not this is the one you need, you know it is because you just can set the sha yourself. HAving the "guarantee" that every green build on master, or every PR, has an image available makes it trivial to select the right image given a git commit.

[2022-10-21 15:24] ch1bo commented on #504
Blocked because the "Add to CHaP" is only possible once this is not needed anymore: https://github.com/input-output-hk/hydra-poc/pull/576/files#diff-b8ed06757045fac949c89f2139a862498ad2b6d1f82c61a31e7c91d6cf0eaa70R95-R103

[2022-10-21 15:27] ch1bo commented on #560
@Quantumplation this might be similar to what you have seen? Any logs would be helpful.

[2022-10-21 15:36] ch1bo commented on #568
That would only be possible that when we use the git sha as the tag and not use `git describe`. But then again, I would like to discourage use of arbitrary git commits to run docker containers. It makes our life's harder than they need to be (more versions in the wild to debug).

[2022-10-21 16:47] ch1bo commented on #358
@Quantumplation what is your opinion in how to (avoid) configuring this? Also, you might have an opinion on:

[2022-10-21 16:50] ch1bo commented on #196
This has been mentioned as good to have by @Quantumplation. A first version which just uses L1 time would be sufficient for them (which we now have since #483).

[2022-10-21 16:51] Quantumplation commented on #358
Seems like this and time granularity settings form the basis for a need of a parameters file specific to the hydra head; like a "hydra-genesis" settings file?

As for the snapshots, they could still be a part of the snapshots so long as it was understood that they were part of an ephemeral state that was tolerated on fan-out;

For example, they could be included in the snapshot, but just understoo

[2022-10-21 16:58] #567 closed, assigned to pgrange

[2022-10-21 17:04] ch1bo commented on #358
I read this as: A snapshot contains
- the definite, signed (confirmed) `UTxO` set **without** phantom tokens, and
- an ephemeral (seen) `UTxO` set **with** phantom tokens.

[2022-10-21 18:09] Quantumplation commented on #358
We'll, sort of; a given UTXO may contain ephemeral state *and* nonephemeral state.

It's also feasible that you'd want similar things for smart contract addresses to recover/remap state; so long as all parties agreed on that remapping at the start / explicitly as part of a snapshot, it should be safe.  for example, the SundaeSwap smart contract addresses are unique to a specific instantiation of t

[2022-10-24 07:40] pgrange commented on #568
Good point, Sebastian but I think it can be OK. That's, by the way, why I suggest to only have stable releases associated with _latest_ so that we don't accidentally support user with unstable versions.

With our current setup I thin there are two problems:
* using _latest_
* deriving from _latest_

Using _latest_ (that is, just running some _latest_ image on a machine) is problematic for many rea

[2022-10-24 09:58] #564 closed, assigned to nobody

[2022-10-24 10:00] pgrange commented on #187
Shall we figure out how to replay some events on restart to api customer?

[2022-10-24 14:57] #571 closed, assigned to pgrange, v0d1ch

[2022-10-25 07:27] #187 closed, assigned to nobody

[2022-10-25 12:09] pgrange opened #580 "When restarting a node, allow the client to restore their state"
## Why

With the current implementation of the [backup and restore feature](https://github.com/input-output-hk/hydra-poc/issues/187), a restarted hydra node will successfully restore its state but will not emit to the client the events which happened before the restart of the node.

This is a problem for the clients which can't restore their own state when being restarted themselves.

## What

Whe

[2022-10-25 12:58] pgrange commented on #531
These are the big 5 potential errors which output we can improve:

[code]

We should focus on errors for which a user can do something about so that we help him fix the situation and let the other errors as they are for now:
* ErrNotEnoughFunds
* ErrNoPaymentUTxOFound
* ErrNoAvailableUTxO

Out of scope for now ("more details in the logs"):
* ErrUnknownInput
* ErrCostEstimation

[2022-10-25 15:07] pgrange opened #581 "nix-shell not working"
## Context & versions

I'm trying to run `nix-shell` on _master_  branch.

Operating System: Ubuntu 20.04.5 LTS (See [nix-haskell-dev-vm](https://github.com/abailly-iohk/nix-haskell-dev-vm) for more details on the installation).

I've applied the [contributing](https://github.com/input-output-hk/hydra-poc/blob/master/CONTRIBUTING.md) steps. In particular:

[code]

## Steps to reproduce

1. setup n

[2022-10-25 16:32] ch1bo commented on #581
Do other nix shells work on this machine? This error sounds like it's quite at the _core_ of the nix installation. For example in any directory: `nix-shell -p fortune --run "fortune | cowsay"`

[2022-10-25 16:47] ch1bo commented on #568
What version do you want to use in this case?

----

I think we do agree on that we want to encourage use of only released versions of our code, but still make it possible to get the bleeding edge in docker if a user wants to do that.

* As `latest` is an internal default of Docker, we only tag the `latest` released image to avoid accidental use.
* We introduce an `unstable` tag, that is put and p

[2022-10-25 19:39] Yasuke commented on #215
The way I see it, we need two new Client Inputs; One for **Fuel** and One for **Commit**, both would return _balanced_ transactions. The main reason for balanced transactions is that while cardano-wallet exposes an endpoint to balance a transaction, Light Wallets expect to sign balanced transactions. Also I don't know of a Light Wallet that exposes any balancing functionality, nor does a "balance"

[2022-10-25 21:31] Quantumplation commented on #580
It's worth noting that not all events are equal in this space from a consumers perspective.  That is, there are some events which we cannot recover from missing, and there are others which we effectively just ignore during playback.  From our perspective, (and at first blush, may have miscategorized one or two) here are the events we do/don't care about:

[code]

If you replay all events, it's not

[2022-10-26 07:03] pgrange commented on #581
This resulted in the following error (because who install cowsay ;) ):

[code]

But this works:
[code]

[2022-10-26 09:53] pgrange commented on #581
My nix version was too old it seems. Uninstalling and installing a fresh new version of nix solved the issue.

[2022-10-26 09:53] #581 closed, assigned to nobody

[2022-10-26 13:47] #531 closed, assigned to v0d1ch, ffakenz

[2022-10-27 09:40] #518 closed, assigned to nobody

[2022-10-27 17:01] pgrange commented on #568
I'd like to be able to construct a reproducible build against an unstable image. If I only use _unstable_ as for the version, then I can't do so as I can't be sure of what version was _unstable_ at the time my image was built. What I want is to use a version like _unstable-g12043_ or, better yet, _main-g12043_.

An alternative would be to use the sha256 of the image instead of its tag. This what I

[2022-10-28 10:04] ch1bo commented on #568
We did a small change during the release of version `0.8.0` to tag all builds as `unstable` and only push `latest` and tagged images on git tags: 98158f6dd03e1efc863bdad2388e65988f35b111

Now, builds on tags do create

![Image](https://user-images.githubusercontent.com/2621189/198561692-f387e344-a7a7-4ff6-b474-9226d65f3b5f.png)

and normal builds on master do create

![Image](https://user-images.g

[2022-10-28 13:19] v0d1ch opened #588 "Add Head currency id to the datum"
Head ID needs to be checked in each v_head transition

* we wouldn't know whether some NFT is indeed an ST, so we need to keep the head currency id in the datum

[2022-10-31 08:06] pgrange commented on #568
I think this is really helpful. Unfortunately, it won't solve the original issue. That is I can't find no descent way to build images that would depend on _unstable_ versions with our current approach.

Especially, given the fact that we have three distinct images (hydra-node, hydra-tui, hydra-tools) which are quite coupled but don't share any common id (nor version number neither sha256).

[2022-10-31 08:19] ffakenz opened #590 "Fix TUI error in CI"
The TUI tests fail a lot lately: https://github.com/input-output-hk/hydra-poc/actions/runs/3344586697/jobs/5539107936

[code]

The nix error above is not related I think. So there is really no error output.

To debug, we could try to store this /home/runner/work/hydra-poc/hydra-poc/dist-newstyle/build/x86_64-linux/ghc-8.10.7/hydra-tui-0.8.0/t/tests/test/hydra-tui-0.8.0-tests.log  in an artifact an

[2022-10-31 10:36] ffakenz commented on #590
Reproduced on: https://github.com/ffakenz/hydra-poc/actions/runs/3360450354

Here is the `hydra-tui-0.8.0-tests.log` artifact from above: [test-fail-results.zip](https://github.com/input-output-hk/hydra-poc/files/9900280/test-fail-results.zip)

As expected it contains no information:
[code]

[2022-10-31 13:01] ffakenz commented on #590
Luckily we got an output log from one [execution](https://github.com/ffakenz/hydra-poc/actions/runs/3360450354/jobs/5569662034):
[code]

[2022-11-01 15:22] v0d1ch opened #592 "Upper tx validity could be very big on close/contest"
Upper tx validity could be very big on close/contest (e.g. close but have deadline in 10 years)

- enforce a bound using T_max - T_min < some slots

[2022-11-02 10:17] ch1bo commented on #568
I would like to discourage depending on a non-released version, no matter for running containers or building derived images. If you want to do that and correlate the individual versions, tag it yourself?

[2022-11-02 12:32] #541 closed, assigned to ch1bo

[2022-11-02 13:01] pgrange commented on #568
It's not discouraging it. It's making it just impossible to do.

Nevermind, I just close this issue since 0.8.0 is released and, hopefully, will never have to run some un-released version in the future.

[2022-11-02 13:01] #568 closed, assigned to pgrange

[2022-11-02 14:17] ch1bo commented on #195
Discussed this in one of our Weekly Hydra Engineering meetings: https://github.com/input-output-hk/hydra-poc/wiki/Logbook#2022-11-02-engineering-weekly

Should take these notes into consideration on our next grooming session.

[2022-11-04 10:39] ch1bo commented on #504
We can check latest available package versions here: https://input-output-hk.github.io/cardano-haskell-packages/all-packages/

[2022-11-04 13:12] v0d1ch opened #596 "ST in output value not checked right now"
Head ID needs to be checked in each v_head transition
* we wouldn't know whether some NFT is indeed an ST, so we need to keep the head currency id in the datum

How: check the head id in all transitions to a v_head script
* Check there is an ST in the output
* Check the currency symbol of the ST

[2022-11-07 08:44] pgrange commented on #560
Had a new crash last Friday. Was running hydra version 0.8.0. Not sure what happened and if it was really related to this same problem. I attach the logs here in case it could help.

[2022-11-07.logs.txt](https://github.com/input-output-hk/hydra-poc/files/9949606/2022-11-07.logs.txt)

[2022-11-07 11:12] ffakenz commented on #590
By executing the TUISpec with `cabal test --test-wrapper strace` we found they are failing because of
[code]

[2022-11-07 16:09] ch1bo commented on #590
Today, we decided that this was not worth fixing now and instead mark the TUI tests as optional / expected to fail and collect all information we gathered here (to maybe fix this another time).

[2022-11-08 07:54] ch1bo opened #598 "Huge logs because of ChainContext"
Logs got big when we started to include the `ChainState` into `Observation` and `OnChainEffect` messages. The `ChainContext` is a lot of information which is not super relevant as it can be derived from configuration entirely.

[2022-11-08 10:53] ffakenz opened #599 "Missing chain updates more easily with persistence"
## Why

As we do persist the `chainstate` now, we can miss relevant transactions on the L1 quite easily.

For example, our node thinks the head is open, we stop it for some maintenance and while doing so, somebody else closes the head.

In this example, today, we would still assume the head is open, even though we missed the `close` transaction.

## What

We need to ensure to start synchronizing w

[2022-11-08 11:53] ffakenz commented on #599
These are my thoughts on what could be done to solve this problem:
- We need to keep track of the last ChainPoint recordedAt `onRollForward`
- We are already recording a ChainSlot from a ChainPoint, so maybe we can use replace it instead.
- This replacement will case us to modify the `instance IsChainState Tx` to make use of the helper function `chainSlotFromPoint :: ChainPoint -> ChainSlot`.
- Be

[2022-11-08 11:58] abailly commented on #599
Would this be an issue if we persisted the event stream of the node? then we could simply restart the node at the chain point corresponding to the last observed tx and that's it

[2022-11-08 13:47] ch1bo commented on #195
Grooming session:
* We think that it's two things: Hard-fork stuff and protocol update stuff

* Protocol parameter updates (on L1)
  - Protocol parameter updates are introduced via special transactions on the L1. There is a update proposal some time before the actual update transaction. We can observe these.
  - Check the L1 parameters against the (given) L2 protocol parameters.
  - This is only a

[2022-11-08 15:26] ffakenz commented on #590
This is the [last execution](https://github.com/ffakenz/hydra-poc/actions/runs/3418293926) on my fork.

Still not being able to upload the core dumps as part of a failing workflow.

[2022-11-08 15:42] ffakenz commented on #590
## Closing notes for this iteration

### Needed to reproduce next time

- TUISpecs must be run with strace to observe the SIGSEGV error:
```cabal test --test-wrapper strace```

- TUISpec must use stdout for traces:
[code]
then define the tracer as:
[code]
finally, do the same as in this closed [PR](https://github.com/input-output-hk/hydra-poc/pull/594)  to have TUISpec trace on stdout.

### Things

[2022-11-09 08:08] pgrange commented on #560
Had a new crash last nigh. Was still running version 0.8.0. I attache the logs here in case it could help. I've noticed this message from the hydra node:

[code]

[2022-11-08.logs.txt](https://github.com/input-output-hk/hydra-poc/files/9968820/2022-11-08.logs.txt)

[2022-11-09 11:09] ch1bo commented on #590
Also dropping a previous red bin item here as well:
* TUISpec is messing up the terminal: ^C is echoed when Ctrl+C after cabal test all

[2022-11-09 11:30] ch1bo commented on #215
By having the external wallet do the commit, we can separate it completely from the fuel. That means, anything owned by the `--cardano-signing-key` given to the `hydra-node` will **be fuel**.

Knowing how much fuel a node has is basically just knowing the balance of the internal wallet's address. Refueling is sending more ADA to the internal wallet's address (like now).

We can make this query-abl

[2022-11-09 11:36] ch1bo commented on #599
This is exactly what this work item should be doing. Just without an event stream, but with the persisted aggregated state.

---

Quickly discussed this with @ffakenz today:

- We should change the `ChainStateAt` to contain `recordedAt :: ChainPoint`
- We shall NOT change the `IsChainState` type class definition, only update the instance for `ChainStateAt
- We shall provide the last persisted `May

[2022-11-10 08:26] pgrange commented on #560
Happened again last night. I attach the logs here.

[2022-11-10.logs.txt](https://github.com/input-output-hk/hydra-poc/files/9978828/2022-11-10.logs.txt)

[2022-11-10 16:10] #598 closed, assigned to nobody

[2022-11-11 10:48] ffakenz opened #606 "Prepare an RFP for the external audit"
## Why

We want an external auditor to review our specification and implementation. For that we shall go through a Request for Proposal (RFP) process to get bids of potential auditors.

## What

Our project is very similar to [Marlowe](https://docs.google.com/document/d/1sTzbSFmZ3Nw_K83GMtJWZO3PN8YFvmLIIhKrh7FwIZQ/edit#) and [Mamba](https://docs.google.com/document/d/1Oo5aGXeKHGRmNuWOC_w74vcERfa4X

[2022-11-11 10:52] ffakenz opened #608 "Create a known issues / troubleshooting user manual page"
Explains all known issues.

### At least
- What we used to put into release notes
- https://github.com/input-output-hk/hydra-poc/issues/439
- https://github.com/input-output-hk/hydra-poc/issues/560

[2022-11-11 12:09] ffakenz commented on #502
During the last interview with the auditor (Yun Lu), we went through the [spec document](https://docs.google.com/document/d/1XQ0C7Ko3Ifo5a4TOcW1fDT8gMYryB54PCEgOiFaAwGE/edit#) to resolve questions and provide clarifications.

Observations:
  - It was mentioned by @Arnaud that it would be great to have, as an outcome, a specification anyone can follow to implement the hydra-head protocol.
  - Yun m

[2022-11-11 17:36] #599 closed, assigned to ffakenz

[2022-11-14 08:16] pgrange commented on #560
Happened again the same day.

[2022-11-10-2.logs.txt](https://github.com/input-output-hk/hydra-poc/files/10000938/2022-11-10-2.logs.txt)

[2022-11-14 13:49] pgrange commented on #560
Again today.
[2022-11-14.logs.txt](https://github.com/input-output-hk/hydra-poc/files/10003526/2022-11-14.logs.txt)

[2022-11-14 16:22] pgrange opened #612 "Head stuck after some network outages"
## Context & versions

Using Hydra Head v0.8.0.

We opened a head with four members and encountered several outages from some nodes. At some point, the nodes were able to recover from the crash and _be part_ of the head but we were not able to submit new transactions successfully.

## Steps to reproduce

We saw the problem with 4 members but a 2 nodes head should exhibit the same issue.

1. Open a

[2022-11-15 13:21] ch1bo commented on #194
We discussed also that a kind of conformance test suite is actually an outcome of this! i.e. the model test can be used to `perform` actions against any implementation of a `hydra-node` (in fact, our e2e tests could be as well)

[2022-11-15 13:23] #502 closed, assigned to ffakenz

[2022-11-15 13:52] ch1bo commented on #452
When running hydra heads we might have discovered another gap / at least an annoyance: #612

[2022-11-15 13:53] ch1bo commented on #612
Some knowledge we have gained already: The `seenUTxO` of `A` above would have been updated, but it never is reset to another value. So while `GetUTxOs` and `NewTx` will use the `confirmedSnapshot` as a basis, on `ReqTx` we do validate against the `seenUTxO` -> we never deem the tx as valid and it will eventually expire -> head stuck.

[2022-11-15 16:28] pgrange commented on #580
You raising an excellent point @Quantumplation.

Thinking about is, we realize that It's not  obvious to figure out which events should **not** be sent on restart and which should be. For some, it could seem obvious, of course, but for other, it can be a bit tricky.

Also, we're not sure what the client application does about the events regarding its own state. I mean, it might be the case that th

[2022-11-16 10:25] ch1bo commented on #505
We won't be using this issue to track progress

[2022-11-16 10:25] #505 closed, assigned to nobody

[2022-11-16 10:37] ch1bo commented on #504
We have `hydra-cardano-api` of version `0.8.0` on CHaP: https://input-output-hk.github.io/cardano-haskell-packages/all-packages/. Not sure though if that means we can get rid of `cardano-api` from the SRP section in cabal.project.

[2022-11-16 10:37] #504 closed, assigned to ch1bo

[2022-11-16 17:29] ltouro commented on #195
Idea (leaving HFs aside for a moment):

1) Hydra keep track of "proposed protocol parameters";
2) Hydra define a threshold time range that is between the upper bound of contest period and the lower-bound of new protocol parameters coming to effect. [i.e. there is enough time to close the head before the new protocol parameters lands on L1]

Rule) When inside the threshold time range, if the curren

[2022-11-18 12:20] ch1bo commented on #612
Maybe `seenUTxO` is not the only problem. It can also be that an `AckSn` is missing and we will never get the `seenSnapshot` fully confirmed. What to do in such misconfiguration / networking caused issues?

[2022-11-18 16:04] #580 closed, assigned to nobody

[2022-11-21 19:42] v0d1ch commented on #199
@Sbcdn mentioned they would love to have this feature as well for their use case so +1

[2022-11-23 13:59] #214 closed, assigned to nobody

[2022-11-28 20:45] ffakenz opened #628 "Log Outcome"
We might care about the `Outcome` of the HeadLogic, so maybe adding a `LogicOutcome {outcome :: Outcome tx}` to the `HydraNodeLog` makes sense?

[2022-11-28 21:37] ffakenz opened #630 "Remove or fix vasil-dev network as KnownNetwork"
The smoke tests seems not to synchronize when configured against `vasil-dev`: https://github.com/input-output-hk/hydra-poc/actions/runs/3336519946/jobs/5521771421

Maybe the network does not exist anymore or was changes. We should update our `hydra-cluster` command line options and `KnownNetworks`

[2022-11-29 09:19] #608 closed, assigned to ffakenz

[2022-11-29 11:52] ffakenz opened #631 "Fix: Head Abort"
Heads can not be aborted.

Probably related: https://hydra.family/head-protocol/benchmarks/transaction-cost/#cost-of-abort-transaction not working

[2022-11-29 15:55] ch1bo opened #634 "Review Hydra Pay"
## Why

The https://github.com/obsidiansystems/hydra-pay project is coming to an end soon and we want to make sure the produced code is comprehensive / usable by interested developers.

## What

One of our team (who have not been involved in the actual making of this) shall try to set up a Hydra Pay service and run any included examples / demo. If not possible, or running into problems this issue

[2022-11-29 16:58] pgrange opened #635 "Client side snapshot signing"
## Why

As a client of a hydra head, imagine I don't trust the hydra-node operator to sign the snapshot of the head (I should say that I don't trust any of the hydra-node operators of the head since only one of them needs to be honest for the transactions to be legit in a head).

Then I would want to be able to sign the snapshot myself and not let the hydra-node operator do that for me.

So that I

[2022-11-29 17:09] pgrange commented on #635
The idea of decoupling the signing of the snapshot from the hydra-node has already been discussed in [Provide a dedicated "component" for off- and on-chain signing](#336) but my understanding is that it is a slightly different conversation as in #336 we were considering protecting the signing key material on the client side when, in this issue, we are considering protecting the client from invalid

[2022-11-29 17:12] pgrange commented on #635
Note that, if we want the client to sign snapshots then, the client needs to be able to validate that the snapshot is legit before signing it. Otherwise it wouldn't make any sense.

Then, what information would a client need to sign a snapshot? Would it be very different from the information the hydra-node currently needs?

Stated otherwise, would it be very far away from the current implementatio

[2022-11-29 23:16] #628 closed, assigned to ffakenz

[2022-11-30 10:29] ch1bo commented on #195
I like your proposal @ltouro. However, validating snapshots against some protocol parameters is not as simple as it sounds. While we could keep the last n snapshots around to validate the transactions contained in them, it would only discover incompatibilities on "transaction-level", but not if some remaining UTxO will become unspendable with given protocol parameters. For example, if the UTxO are

[2022-11-30 13:24] ffakenz commented on #630
configs were updated from https://book.world.dev.cardano.org/environments/vasil-dev/ and still does not work.

will proceed and remove the `vasil-dev` from `KnownNetworks`

[2022-11-30 15:25] ltouro commented on #195
I agree that validating transitions for each transaction does not makes alot sense, since the Close/FanOut TX won't be doing that anyway.

What about validating [what would be] the Close Tx in the context of the L1 ledger for a given snapshot for proposed PPs? Is this too much overhead? I assume this is already done for current PP.

Something like:

Case 1: New snapshot created in Head
1) Node rec